In [1]:
import pyEX
symbol = 'AAPL'

In [2]:
pyEX.bookDF(symbol)

,asks,bids,quote.avgTotalVolume,quote.calculationPrice,quote.change,quote.changePercent,quote.close,quote.closeTime,quote.companyName,quote.delayedPrice,...,quote.previousClose,quote.primaryExchange,quote.sector,quote.symbol,quote.week52High,quote.week52Low,quote.ytdChange,systemEvent.systemEvent,systemEvent.timestamp,trades
0,"[{'price': 223.53, 'size': 100, 'timestamp': 1...","[{'price': 222.35, 'size': 111, 'timestamp': 1...",31073391,tops,5.21,0.02386,218.33,1536609600401,Apple Inc.,223.89,...,218.33,Nasdaq Global Select,Technology,AAPL,229.67,149.16,0.30586,R,1536672600000,"[{'price': 223.53, 'size': 100, 'tradeId': 626..."

In [3]:
pyEX.chartDF(symbol, timeframe='1m').head()

,change,changeOverTime,changePercent,close,high,label,low,open,unadjustedVolume,volume,vwap
date,,,,,,,,,,,
2018-08-10,-0.619964,0.000000,-0.298,207.53,209.1000,Aug 10,206.67,207.360,24611202,24611202,207.8576
2018-08-13,1.340000,0.006457,0.646,208.87,210.9520,Aug 13,207.70,207.700,25890880,25890880,209.5754
2018-08-14,0.880000,0.010697,0.421,209.75,210.5600,Aug 14,208.26,210.155,20748010,20748010,209.4477
2018-08-15,0.490000,0.013058,0.234,210.24,210.7400,Aug 15,208.33,209.220,28807564,28807564,209.4035
2018-08-16,3.080000,0.027900,1.465,213.32,213.8121,Aug 16,211.47,211.750,28500367,28500367,212.9938

In [4]:
pyEX.companyDF(symbol)

,CEO,companyName,description,exchange,industry,issueType,sector,tags,website
symbol,,,,,,,,,
AAPL,Timothy D. Cook,Apple Inc.,"Apple Inc is designs, manufactures and markets...",Nasdaq Global Select,Computer Hardware,cs,Technology,"[Technology, Consumer Electronics, Computer Ha...",http://www.apple.com

In [5]:
pyEX.collectionsDF('sector', 'Health Care').head()

,avgTotalVolume,calculationPrice,change,changePercent,close,closeTime,companyName,delayedPrice,delayedPriceTime,extendedChange,...,open,openTime,peRatio,previousClose,primaryExchange,sector,symbol,week52High,week52Low,ytdChange
0,3501044,tops,-0.7100,-0.00667,106.4200,1.536610e+12,Eli Lilly and Company,105.7300,1.536693e+12,0.0000,...,106.41,1.536673e+12,21.02,106.4200,New York Stock Exchange,Healthcare,LLY,107.840,73.690,0.275167
1,2076082,tops,0.0150,0.00472,3.1800,1.536610e+12,Community Health Systems Inc.,3.1950,1.536693e+12,0.0000,...,3.15,1.536673e+12,-3.55,3.1800,New York Stock Exchange,Healthcare,CYH,7.890,2.660,-0.285459
2,232013,tops,0.6400,0.00667,95.8900,1.536610e+12,LHC Group,96.6650,1.536693e+12,0.0000,...,96.02,1.536673e+12,35.36,95.8900,Nasdaq Global Select,Healthcare,LHCG,100.900,58.651,0.562821
3,579316,tops,0.0375,0.14151,0.2790,1.536610e+12,Apricus Biosciences Inc.,0.3029,1.536693e+12,0.0000,...,0.26,1.536673e+12,-0.43,0.2650,NASDAQ Capital Market,Healthcare,APRI,3.342,0.250,-0.727302
4,1032847,sip,0.0079,0.01260,0.6271,1.536610e+12,Histogenics Corporation,0.6350,1.536693e+12,-0.0282,...,0.65,1.536673e+12,-0.68,0.6271,NASDAQ Capital Market,Healthcare,HSGX,3.350,0.610,-0.684453

In [6]:
pyEX.cryptoDF().head()

,askPrice,askSize,avgTotalVolume,bidPrice,bidSize,calculationPrice,change,changePercent,close,closeTime,...,open,openTime,peRatio,previousClose,primaryExchange,sector,symbol,week52High,week52Low,ytdChange
0,6247.9900,0.032878,None,6245.5400,0.139244,realtime,-49.1500,-0.00781,6296.201269,1536693632070,...,6294.6500,1536607232070,None,6293.9700,crypto,cryptocurrency,BTCUSDT,None,None,None
1,4.8513,300.000000,None,4.8496,1093.100000,realtime,-0.1364,-0.02736,4.955686,1536693632333,...,4.9860,1536607232333,None,4.9841,crypto,cryptocurrency,EOSUSDT,None,None,None
2,181.7100,12.293420,None,181.4500,0.990580,realtime,-11.3600,-0.05888,190.831063,1536693632170,...,192.9200,1536607232170,None,192.9300,crypto,cryptocurrency,ETHUSDT,None,None,None
3,9.2500,22.450000,None,9.2362,21.620000,realtime,-0.1714,-0.01820,9.406352,1536693632300,...,9.4176,1536607232300,None,9.4159,crypto,cryptocurrency,BNBUSDT,None,None,None
4,1.7350,0.073000,None,1.7310,69.304000,realtime,-0.0810,-0.04460,1.813039,1536693631397,...,1.8160,1536607231397,None,1.8170,crypto,cryptocurrency,ONTUSDT,None,None,None

In [7]:
pyEX.delayedQuoteDF(symbol)

,delayedPrice,delayedPriceTime,delayedSize,high,low,processedTime
symbol,,,,,,
AAPL,223.89,1536692733817,100,224.299,216.56,1536693633922

In [8]:
pyEX.dividendsDF(symbol, timeframe='ytd')

,amount,declaredDate,flag,indicated,paymentDate,qualified,recordDate,type
exDate,,,,,,,,
2018-02-09,0.63,2018-02-01,,,2018-02-15,Q,2018-02-12,Dividend income

In [9]:
pyEX.earningsDF(symbol)

,EPSSurpriseDollar,actualEPS,announceTime,consensusEPS,estimatedChangePercent,estimatedEPS,fiscalEndDate,fiscalPeriod,numberOfEstimates,symbolId,yearAgo,yearAgoChangePercent,symbol
EPSReportDate,,,,,,,,,,,,,
2018-07-31,0.17,2.34,AMC,2.17,0.299401,2.17,2018-06-30,Q3 2018,10,11,1.67,0.401198,AAPL
2018-05-01,0.04,2.73,AMC,2.69,0.280952,2.69,2018-03-31,Q2 2018,10,11,2.10,0.300000,AAPL
2018-02-01,0.07,3.89,AMC,3.82,0.136905,3.82,2017-12-31,Q1 2018,9,11,3.36,0.157738,AAPL
2017-11-02,0.20,2.07,AMC,1.87,0.119760,1.87,2017-09-30,Q4 2017,10,11,1.67,0.239521,AAPL

In [10]:
pyEX.earningsTodayDF()

,EPSReportDate,EPSSurpriseDollar,actualEPS,announceTime,consensusEPS,estimatedChangePercent,estimatedEPS,fiscalEndDate,fiscalPeriod,headline,...,quote.primaryExchange,quote.sector,quote.symbol,quote.week52High,quote.week52Low,quote.ytdChange,symbolId,when,yearAgo,yearAgoChangePercent
symbol,,,,,,,,,,,,,,,,,,,,,
FRAN,2018-09-11,,,BTO,0.04,-0.800000,0.04,2018-07-31,Q2 2019,"Francesca's misses by $0.04, misses on revenue",...,Nasdaq Global Select,Consumer Cyclical,FRAN,8.480,3.995,-0.539525,2623,bto,0.20,
ERYP,2018-09-11,,,BTO,-0.50,NaN,-0.50,2018-06-30,Q2 2018,NaN,...,Nasdaq Global Select,Healthcare,ERYP,30.560,9.640,-0.443634,13767,bto,NaN,NaN
SKIS,2018-09-11,,,BTO,-0.83,-0.296875,-0.83,2018-07-31,Q1 2019,"Peak Resorts misses by $0.04, misses on revenue",...,NASDAQ Global Market,Consumer Cyclical,SKIS,5.775,4.100,-0.045055,9405,bto,-0.64,
FARM,2018-09-11,,,AMC,0.09,-0.526316,0.09,2018-06-30,Q4 2018,NaN,...,Nasdaq Global Select,Consumer Defensive,FARM,35.050,23.600,-0.114122,2400,amc,0.19,

In [11]:
pyEX.spreadDF(symbol).head()

,effectiveQuoted,effectiveSpread,priceImprovement,venue,venueName,volume
0,0.555187,0.016885,0.007512,XCHI,CHX,35618
1,0.915946,0.014543,0.000983,XBOS,Nasdaq BX,6564857
2,0.908112,0.014018,0.001121,XPHL,Nasdaq PSX,3179170
3,0.869961,0.013518,0.001382,BATY,Cboe BYX,3965519
4,0.964371,0.012823,0.000408,ARCX,NYSE Arca,42571747

In [12]:
pyEX.financialsDF(symbol)

,cashChange,cashFlow,costOfRevenue,currentAssets,currentCash,currentDebt,grossProfit,netIncome,operatingExpense,operatingGainsLosses,operatingIncome,operatingRevenue,researchAndDevelopment,shareholderEquity,totalAssets,totalCash,totalDebt,totalLiabilities,totalRevenue,symbol
reportDate,,,,,,,,,,,,,,,,,,,,
2018-06-30,-13088000000,14488000000,32844000000,115761000000,31971000000,17472000000,20421000000,11519000000,7809000000,None,12612000000,53265000000,3701000000,114949000000,349197000000,70970000000,114600000000,None,53265000000,AAPL
2018-03-31,17568000000,15130000000,37715000000,130053000000,45059000000,20478000000,23422000000,13822000000,7528000000,None,15894000000,61137000000,3378000000,126878000000,367502000000,87940000000,121840000000,None,61137000000,AAPL
2017-12-31,7202000000,28293000000,54381000000,143810000000,27491000000,18478000000,33912000000,20065000000,7638000000,None,26274000000,88293000000,3407000000,140199000000,406794000000,77153000000,122400000000,None,88293000000,AAPL
2017-09-30,1718000000,15122000000,32648000000,128645000000,20289000000,18473000000,19931000000,10714000000,6811000000,None,13120000000,52579000000,2997000000,134047000000,375319000000,74181000000,115680000000,None,52579000000,AAPL

In [13]:
pyEX.ipoTodayDF()

Empty DataFrame
Columns: []
Index: []

In [14]:
pyEX.ipoUpcomingDF()

,address,amount,auditor,businessDescription,ceo,cik,city,companyCounsel,companyDescription,companyName,...,stockholderEquity,symbol,totalAssets,totalExpenses,totalLiabilities,underwriterCounsel,underwriters,url,useOfProceeds,zip
0,"BUILDING 20, NO. 56 ANTUO ROAD",1160000000,Not Specified,Our mission is to shape a joyful lifestyle by ...,Bin Li,0001736541,SHANGHAI 201804,"[Skadden, Arps, Slate, Meagher & Flom LLP]",Our mission is to shape a joyful lifestyle by ...,NIO INC.,...,-3290431000,NIO,1552960000,6683761,669939000,[Latham & Watkins LLP],"[BofA Merrill Lynch, Citigroup Global Markets ...",www.nio.com,We estimate that we will receive net proceeds ...,
1,"3-4/F, NO.295 ZUCHONGZHI ROAD",139500000,Not Specified,Our mission is to build the largest integrated...,Junling Liu,0001738906,SHANGHAI 201203,"[Skadden, Arps, Slate, Meagher & Flom LLP]",Our mission is to build the largest integrated...,"111, INC.",...,-159272000,YI,162107000,2800000,51614000,[Freshfields Bruckhaus Deringer LLP],[],www.111.com.cn,We estimate that we will receive net proceeds ...,
2,"400 EAST JAMIE COURT, SUITE 302",75000000,"Computershare Trust Company, N.A",We are a clinical-stage biopharmaceutical comp...,Martin Babler,0001510487,SOUTH SAN FRANCISCO,[Cooley LLP],We are a clinical-stage biopharmaceutical comp...,PRINCIPIA BIOPHARMA INC.,...,-140306000,PRNB,32445000,3000000,44220000,[Latham & Watkins LLP],[Robert W. Baird & Co. Incorporated],www.principiabio.com,We estimate that we will receive net proceeds ...,94080
3,"11/F BLDG 3, XINGCHUANG TECHNOLOGY PLZ",128000000,Not Specified,Our Mission &#10; &#10; Bring fun and value t...,Lei Li,0001733298,SHANGHAI 200120,[Simpson Thacher & Bartlett LLP],Our Mission &#10; &#10; Bring fun and value t...,QUTOUTIAO INC.,...,-76942680,QTT,293605399,3600000,82366565,"[Wilson Sonsini Goodrich & Rosati, P.C.]","[China Merchants Securities (HK) Co., Ltd., Ke...",www.qutoutiao.net,We estimate that we will receive net proceeds ...,
4,"7 AVENUE DE GRANDE BRETAGNE, OFFICE 1182",100000002,"Computershare Trust Company, N.A",We are a growth-oriented international owner a...,Angeliki Frangou,0001707210,MONTE CARLO MC 98000,"[Fried, Frank, Harris, Shriver & Jacobson LLP]",We are a growth-oriented international owner a...,NAVIOS MARITIME CONTAINERS INC.,...,177301000,NMCI,345753000,3200000,168452000,[Latham & Watkins LLP],"[BNP Paribas Securities Corp., S. Goldman Advi...",www.navios-containers.com,We estimate that we will receive net proceeds ...,
5,11325 RANDOM HILLS ROAD,34125000,"Computershare Trust Company, N.A","FVCBankcorp, Inc. is the registered bank holdi...",David W. Pijor,0001675644,FAIRFAX,[BuckleySandler LLP],"FVCBankcorp, Inc. is the registered bank holdi...","FVCBANKCORP, INC.",...,103966000,,1139449000,700000,1035483000,[Williams Mullen],[],www.fvcbank.com,Assuming an initial public offering price of $...,22030
6,1039 NW 63RD STREET,64837500,"Broadridge Financial Solutions, Inc","We are Bank7 Corp., a bank holding company hea...",Thomas L. Travis,0001746129,OKLAHOMA CITY,"[Paul Foster Law Offices, P.C., and Hunton And...","We are Bank7 Corp., a bank holding company hea...",BANK7 CORP.,...,77553487,BSVN,727607471,1412542,650053984,[Bracewell LLP],"[Sandler O’Neill & Partners, L.P.]",www.bank7.com,We estimate that the net proceeds to us from t...,73116
7,"211 OLD STREET, THE BOWER, 4TH FLOOR",600056016,"Computershare Trust Company, N.A",Farfetch exists for the love of fashion. We be...,José Neves,0001740915,LONDON EC1V 9NR,[Latham & Watkins LLP],Farfetch exists for the love of fashion. We be...,FARFETCH LTD,...,432538000,FTCH,600505000,8089262,167967000,[Fenwick & West LLP],"[BNP Paribas Securities Corp., Cowen and Compa...",aboutfarfetch.com,We estimate that the net proceeds to us from t...,
8,2500 INNOVATION WAY,1352350000,"Computershare Trust Company, N.A",Founded in 1954 as part of Eli Lilly and Compa...,Jeffrey N. Simmons,0001739104,GREENFIELD,"[Barnes & Thornburg LLP and Weil, Gotshal & Ma...",Founded in 1954 as part of Eli Lilly and Compa...,ELANCO ANIMAL HEALTH INC,...,7586600000,ELAN,8577400000,18000000,990800000,[Ropes & Gray LLP],"[Academy Securities, Inc, Barclays Capital Inc...",www.elanco.com,We estimate that the net proceeds to us from t...,46140
9,"410 TOWNSEND, SUITE 300",200000000,"American Stock Transfer & Trust Company, LLC",We founded Eventbrite to bring the world toget...,Julia Hartz,0001475115,SAN FRANCISCO,[Goodwin Procter LLP],We founded Eventbrite to bring the world toget...,"EVENTBRITE, INC.",...,-151183000,EB,638651000,4500000,455816000,"[Wilson Sonsini Goodrich & Rosati, P.C.]","[Stifel Nicolaus & Company, Incorporated, SunT...",www.eventbrite.com,We estimate that the net proceeds from the sal...,94107
10,750 THIRD AVENUE,79999995,"American Stock Transfer & Trust Company, LLC",We are a late-stage clinical biopharmaceutical...,Claus Juan Moller San Pedro,0001722964,NEW YORK,[Satterlee Stephens LLP],We are a late-stage clinical biopharmaceutical...,"Y-MABS THERAPEUTICS, INC.",...,65521000,YMAB,73298000,4400000,7777000,[Shearman & Sterling LLP],"[BTIG, LLC, Canaccord Genuity LLC]",www.ymabs.com,We estimate that the net proceeds to us from t...,10017
11,807 LAS CIMAS PARKWAY,105000000,Equiniti Trust Company,We are a growth-oriented Delaware corporation ...,George B. Peyton V,0001740321,AUSTIN,[Sidley Austin LLP],We are a growth-oriented Delaware corporation ...,"REMORA ROYALTIES, INC.",...,-21706815,RRI,76173762,4500000,97880577,[Latham & Watkins LLP],"[Seaport Global Securities LLC, Stephens Inc.]",www.remoraroyalties.com,We will receive net proceeds of approximately ...,78746

In [15]:
pyEX.thresholdDF(date=None)

Empty DataFrame
Columns: []
Index: []

In [16]:
pyEX.shortInterestDF(symbol, date=None)

Empty DataFrame
Columns: []
Index: []

In [17]:
pyEX.marketShortInterestDF(date=None)

Empty DataFrame
Columns: []
Index: []

In [18]:
pyEX.stockStatsDF(symbol)

,EBITDA,EPSSurpriseDollar,EPSSurprisePercent,beta,cash,companyName,consensusEPS,day200MovingAvg,day30ChangePercent,day50MovingAvg,...,shortInterest,shortRatio,ttmEPS,week52change,week52high,week52low,year1ChangePercent,year2ChangePercent,year5ChangePercent,ytdChangePercent
symbol,,,,,,,,,,,,,,,,,,,,,
AAPL,47576000000,None,1.487,1.366314,151334000000,Apple Inc.,2.69,181.84274,0.153682,203.76929,...,42160518,1.575257,10.36,39.7158,229.67,149.16,0.37233,1.139045,2.568743,0.282

In [19]:
pyEX.largestTradesDF(symbol).head()

                price   size timeLabel venue     venueName
time
1536683738978  223.52  32411  12:35:38  ARCX     NYSE Arca
1536678288721  221.05  23700  11:04:48  None  Off Exchange
1536678033926  220.50  18800  11:00:33  None  Off Exchange
1536683738977  223.50  18000  12:35:38  ARCX     NYSE Arca
1536674813346  218.87  15000  10:06:53  XNGS        Nasdaq

In [20]:
pyEX.listDF(option='mostactive')

,avgTotalVolume,calculationPrice,change,changePercent,close,closeTime,companyName,delayedPrice,delayedPriceTime,extendedChange,...,open,openTime,peRatio,previousClose,primaryExchange,sector,symbol,week52High,week52Low,ytdChange
0,111976880,tops,0.005,0.00017,29.89,1536609600275,Advanced Micro Devices Inc.,29.985,1536692737882,0,...,30.00,1536672600110,87.93,29.89,NASDAQ Capital Market,Technology,AMD,29.9400,9.04,1.722392
1,33109095,tops,-1.545,-0.03441,44.90,1536609600268,Micron Technology Inc.,43.435,1536692737836,0,...,43.57,1536672600369,5.04,44.90,Nasdaq Global Select,Technology,MU,64.6600,32.81,-0.006244
2,1858927,tops,4.545,0.10801,42.08,1536609600183,Integrated Device Technology Inc.,46.610,1536692731056,0,...,46.85,1536672600415,42.39,42.08,Nasdaq Global Select,Technology,IDTI,46.6250,24.96,0.478694
3,47238139,tops,0.035,0.00114,30.82,1536609623204,Bank of America Corporation,30.862,1536692736103,0,...,30.72,1536672620672,14.02,30.82,New York Stock Exchange,Financial Services,BAC,33.0500,23.08,0.045026
4,47009165,tops,-0.145,-0.01159,12.51,1536609606743,General Electric Company,12.370,1536692737439,0,...,12.40,1536672629712,13.59,12.51,New York Stock Exchange,Industrials,GE,25.2100,11.94,-0.303831
5,31073391,tops,5.210,0.02386,218.33,1536609600401,Apple Inc.,223.900,1536692737230,0,...,217.91,1536672600480,21.58,218.33,Nasdaq Global Select,Technology,AAPL,229.6700,149.16,0.305860
6,20564617,tops,0.135,0.01386,9.74,1536609748859,Snap Inc. Class A,9.890,1536692736269,0,...,9.85,1536672600703,-8.74,9.74,New York Stock Exchange,Technology,SNAP,21.2200,9.55,-0.334635
7,26439425,tops,0.340,0.00217,156.36,1536609669444,Alibaba Group Holding Limited,156.740,1536692732624,0,...,153.00,1536672609230,45.55,156.36,New York Stock Exchange,Consumer Cyclical,BABA,211.7000,155.00,-0.146428
8,21273468,tops,-0.430,-0.03952,10.88,1536609718945,Petroleo Brasileiro S.A.- Petrobras,10.460,1536692736643,0,...,10.45,1536672665924,10.56,10.88,New York Stock Exchange,Energy,PBR,17.2000,9.02,-0.018834
9,23020401,tops,-1.200,-0.02592,46.30,1536609600303,Intel Corporation,45.190,1536692736132,0,...,46.00,1536672600505,11.28,46.30,Nasdaq Global Select,Technology,INTC,57.5995,35.14,-0.019127

In [21]:
pyEX.logoNotebook(symbol)

In [22]:
pyEX.newsDF(symbol, count=10)

,headline,image,related,source,summary,url
datetime,,,,,,
2018-09-11T09:30:14-04:00,Micron Investors: Be Happy About The Share Pri...,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,Computer Hardware,CON31167138,HXSCF,MU,NA...",SeekingAlpha,Micron's ( MU ) shares declined substantial...,https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-11T09:09:59-04:00,Big Ticket 2018 Picks: August Update,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,AMZN,Computer Hardware,CON31167138,LLL:CA...",SeekingAlpha,"In early January, I published my top pick...",https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-11T09:02:02-04:00,UBS raises its Apple target on potential 20% s...,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,Computer Hardware,CON31167138,NASDAQ01,Co...",SeekingAlpha,UBS maintains a Buy rating on Apple (N...,https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-11T09:00:17-04:00,The Sad Decline Of International Business Mach...,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,AMZN,BABA,Computer Hardware,CON31167138,C...",SeekingAlpha,IBM is no longer a tech company. They have...,https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-11T07:09:52-04:00,5 Reasons Apple Is A Dividend Growth Dream Stock,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,Computer Hardware,CON31167138,NASDAQ01,Co...",SeekingAlpha,(Source: imgflip ) Apple ( AAPL ) has ...,https://api.iextrading.com/1.0/stock/aapl/arti...

In [23]:
pyEX.marketNewsDF(count=10)

,datetime,headline,image,related,source,summary,url
0,2018-09-11T15:19:00-04:00,EQUITY ALERT: Rosen Law Firm Files Securities ...,https://api.iextrading.com/1.0/stock/market/ne...,"APPSOFTW,Economy Business and Finance,Financia...",Business Wire,"Rosen Law Firm, a global investor rights ...",https://api.iextrading.com/1.0/stock/market/ar...
1,2018-09-11T15:00:00-04:00,Valiant Integrated Services Re-Awarded Key Con...,https://api.iextrading.com/1.0/stock/market/ne...,"Aerospace and Defense,Aerospace/Defense - Majo...",PR Newswire,"HERNDON, Va. , Sept. 11, 2018 /PRNewsw...",https://api.iextrading.com/1.0/stock/market/ar...
2,2018-09-11T14:52:00-04:00,Red Cross Prepares for Massive Relief Response...,https://api.iextrading.com/1.0/stock/market/ne...,"Breaking News,DISACCID,FAMILY01,Futures Tradin...",PR Newswire,"WASHINGTON , Sept. 11, 2018 /PRNewswir...",https://api.iextrading.com/1.0/stock/market/ar...
3,2018-09-11T14:43:00-04:00,NASA to Preview Two International Space Statio...,https://api.iextrading.com/1.0/stock/market/ne...,"Aerospace and Defense,Aerospace/Defense - Majo...",PR Newswire,"WASHINGTON , Sept. 11, 2018 /PRNews...",https://api.iextrading.com/1.0/stock/market/ar...
4,2018-09-11T14:27:00-04:00,"As Florence Approaches, Realtors&#xAE; Renew C...",https://api.iextrading.com/1.0/stock/market/ne...,"BADWEATH,Banking and Finance,Banking,DELAWARE,...",PR Newswire,"WASHINGTON , Sept. 11, 2018 /PRNewswir...",https://api.iextrading.com/1.0/stock/market/ar...
5,2018-09-11T14:12:00-04:00,Maya Elisabeth Co-Founder of Whoopi & Maya to ...,https://api.iextrading.com/1.0/stock/market/ne...,"CALIFORN,Consumer Goods,Consumer Affairs,Educa...",PR Newswire,"PARAMUS, N.J. , Sept. 11,2018 /PRNewswir...",https://api.iextrading.com/1.0/stock/market/ar...
6,2018-09-11T14:01:00-04:00,Gas Ranges and Wall Ovens Recalled by Prizer-P...,https://api.iextrading.com/1.0/stock/market/ne...,"Appliances,CANADA01,Consumer Goods,Consumer Af...",PR Newswire,"WASHINGTON , Sept.11, 2018 /PRNewswire/ ...",https://api.iextrading.com/1.0/stock/market/ar...
7,2018-09-11T14:01:00-04:00,Virginia Natural Gas Prepares for Hurricane Fl...,https://api.iextrading.com/1.0/stock/market/ne...,"Appliances,Breaking News,Commodities,Energy,En...",PR Newswire,"VIRGINIA BEACH, Va. , Sept. 11, 2018 /...",https://api.iextrading.com/1.0/stock/market/ar...
8,2018-09-11T13:44:34-04:00,Atlanta Fed cuts U.S. third-quarter GDP view b...,https://api.iextrading.com/1.0/stock/market/ne...,"FEDRESRV,National News",SeekingAlpha,The U.S. economy is expected to expand at...,https://api.iextrading.com/1.0/stock/market/ar...
9,2018-09-11T13:22:00-04:00,Subaru of America and Mt. Hood Community Colle...,https://api.iextrading.com/1.0/stock/market/ne...,"Automotive,Education,INDIANA1,Industrial Goods...",PR Newswire,"CAMDEN, N.J. , Sept. 11, 2018 /PRNewsw...",https://api.iextrading.com/1.0/stock/market/ar...

In [24]:
pyEX.ohlcDF(symbol)

               open         close     high     low
price  2.179100e+02  2.183300e+02  224.299  216.56
time   1.536673e+12  1.536610e+12  224.299  216.56

In [25]:
pyEX.marketOhlcDF()

,SNOAW,LEG,GRUB,CDNA,NOMD,TRGP,GLMD,RTH,ZN,TK,...,PXF,CRBP,NTIP,CVR,POLA,CRH,GMTA,GVIP,KWEB,PRGO
close,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
high,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
low,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
open,"{'price': 0.0351, 'time': 1536684273340}","{'price': 46.04, 'time': 1536672609468}","{'price': 141.01, 'time': 1536672600365}","{'price': 27.19, 'time': 1536672600286}","{'price': 20.5, 'time': 1536672600653}","{'price': 54.21, 'time': 1536672600758}","{'price': 13.25, 'time': 1536672600575}","{'price': 111.11, 'time': 1536672600083}","{'price': 1.33, 'time': 1536672600225}","{'price': 6.27, 'time': 1536672767713}",...,"{'price': 41.82, 'time': 1536672600111}","{'price': 5.4, 'time': 1536672600276}","{'price': 2.75, 'time': 1536672600022}","{'price': 32, 'time': 1536672921518}","{'price': 5.92, 'time': 1536672600698}","{'price': 31.9, 'time': 1536672600102}","{'price': 25.1, 'time': 1536672609419}","{'price': 57.17, 'time': 1536672600076}","{'price': 45.27, 'time': 1536672600090}","{'price': 74.81, 'time': 1536672600676}"

In [26]:
pyEX.peersDF(symbol)

       symbol
symbol
XLK       XLK

In [27]:
pyEX.yesterdayDF(symbol)

,change,changePercent,close,date,high,low,open,symbol,unadjustedVolume,volume,vwap
0,-2.97,-1.342,218.33,2018-09-10,221.85,216.47,220.95,AAPL,39516453,39516453,218.23

In [28]:
pyEX.marketYesterdayDF()

,AABA,A,AAC,AAMC,AA,AAAU,AAL,AAP,AAOI,AAON,...,ZVV,ZWZZT,ZVZZT,ZXZZT,ZUMZ,ZSAN,ZYNE,ZTO,ZTEST,ZOM
change,-1.02,0.53,-0.66,0,1.01,-0.01,1,-0.35,1.09,-0.15,...,0.92,1.5,-0.01,-0.01,0.2,-0.15,-0.45,-0.19,0,0
changePercent,-1.574,0.786,-8.483,0,2.463,-0.084,2.602,-0.209,3.402,-0.381,...,18.075,15,-0.1,-0.1,0.685,-3.695,-6.139,-1.074,0,0
close,63.8,67.93,7.12,60.05,42.01,11.95,39.43,166.93,33.13,39.25,...,6.01,11.5,10.01,9.99,29.4,3.91,6.88,17.5,10,2.2
date,2018-09-10,2018-09-10,2018-09-10,2018-09-10,2018-09-10,2018-09-10,2018-09-10,2018-09-10,2018-09-10,2018-09-10,...,2018-09-10,2018-09-10,2018-09-10,2018-09-10,2018-09-10,2018-09-10,2018-09-10,2018-09-10,2018-09-10,2018-09-10
high,64.44,68.41,7.79,NaN,42.69,11.97,39.49,169.09,33.36,39.9,...,6.01,11.5,10.02,10.02,29.8,4.1127,7.4499,17.65,10,2.25
low,63.08,67.72,7.07,NaN,41.64,11.94,38.49,166.14,31.9,39.2,...,6,11.5,9.9,9.99,28.5,3.9,6.8,17.31,10,2.16
open,63.5,67.82,7.79,NaN,42.09,11.97,38.66,168.47,32.07,39.45,...,6,11.5,9.9,10,29.7,4.05,7.39,17.59,10,2.23
symbol,AABA,A,AAC,AAMC,AA,AAAU,AAL,AAP,AAOI,AAON,...,ZVV,ZWZZT,ZVZZT,ZXZZT,ZUMZ,ZSAN,ZYNE,ZTO,ZTEST,ZOM
unadjustedVolume,14090369,2065707,155761,193,3405903,64347,3901039,910159,752086,142526,...,700,53250,447385,37475,465361,129558,394207,2101394,0,22409
volume,14090369,2065707,155761,193,3405903,64347,3901039,910159,752086,142526,...,700,53250,447385,37475,465361,129558,394207,2101394,0,22409
vwap,63.7968,68.0911,7.3599,NaN,42.1058,11.9533,39.2207,167.173,32.7941,39.4127,...,6.0029,11.5,9.9896,10.0029,29.165,3.994,7.0132,17.4666,NaN,2.1933

In [29]:
pyEX.priceDF(symbol)

    price
0  223.54

In [30]:
pyEX.quoteDF(symbol)

,avgTotalVolume,calculationPrice,change,changePercent,close,closeTime,companyName,delayedPrice,delayedPriceTime,extendedChange,...,marketCap,open,openTime,peRatio,previousClose,primaryExchange,sector,week52High,week52Low,ytdChange
symbol,,,,,,,,,,,,,,,,,,,,,
AAPL,31073391,tops,5.21,0.02386,218.33,1536609600401,Apple Inc.,223.929,1536692751888,0,...,1079681658040,217.91,1536672600480,21.58,218.33,Nasdaq Global Select,Technology,229.67,149.16,0.30586

In [31]:
pyEX.relevantDF(symbol)

   peers symbols
0   True     XLK

In [32]:
pyEX.sectorPerformanceDF()

      lastUpdated                    name  performance    type
0   1536693641626                  Energy      0.01127  sector
1   1536693144471  Communication Services      0.01088  sector
2   1536693509291              Technology      0.00820  sector
3   1536693646851  Consumer Discretionary      0.00750  sector
4   1536693026528             Real Estate      0.00327  sector
5   1536693551562               Materials      0.00220  sector
6   1536693604997              Financials      0.00106  sector
7   1536693653781             Industrials      0.00013  sector
8   1536693608855             Health Care     -0.00060  sector
9   1536693554718               Utilities     -0.00064  sector
10  1536693207672        Consumer Staples     -0.00147  sector

In [28]:
pyEX.splitsDF(symbol, timeframe='ytd')

Empty DataFrame
Columns: []
Index: []

In [29]:
pyEX.volumeByVenueDF(symbol)

    avgMarketPercent        date  marketPercent venue      venueName   volume
0           0.001059  2018-08-10       0.000680  XASE  NYSE American    16899
1           0.001245  2018-08-10       0.001043  XCIS  NYSE National    25923
2           0.009873  2018-08-10       0.006223  BATY       Cboe BYX   154624
3           0.008033  2018-08-10       0.008666  XPHL     Nasdaq PSX   215305
4           0.009412  2018-08-10       0.009871  EDGA      Cboe EDGA   245237
5           0.016532  2018-08-10       0.013727  XBOS      Nasdaq BX   341054
6           0.018277  2018-08-10       0.016596  XNYS           NYSE   412332
7           0.024119  2018-08-10       0.021018  IEXG            IEX   522198
8           0.058238  2018-08-10       0.051591  EDGX      Cboe EDGX  1281783
9           0.008867  2018-08-10       0.069947  XCHI            CHX  1737858
10          0.092972  2018-08-10       0.103852  ARCX      NYSE Arca  2580224
11          0.091778  2018-08-10       0.111274  BATS       Cboe BZX  2764638
12          0.289976  2018-08-10       0.250970  XNGS         Nasdaq  6235401
13          0.370004  2018-08-10       0.334542   TRF   Off Exchange  8311774

In [30]:
pyEX.symbolsDF()

,date,iexId,isEnabled,name,symbol,type
0,2018-08-10,2,True,Agilent Technologies Inc.,A,cs
1,2018-08-10,12042,True,Alcoa Corporation,AA,cs
2,2018-08-10,7653,True,Altaba Inc.,AABA,cs
3,2018-08-10,9169,True,AAC Holdings Inc.,AAC,cs
4,2018-08-10,5,True,AdvisorShares Dorsey Wright ADR,AADR,et
5,2018-08-10,8148,True,American Airlines Group Inc.,AAL,cs
6,2018-08-10,7760,True,Altisource Asset Management Corp Com,AAMC,cs
7,2018-08-10,7,True,Atlantic American Corporation,AAME,cs
8,2018-08-10,8,True,Aaron's Inc.,AAN,cs
9,2018-08-10,7790,True,Applied Optoelectronics Inc.,AAOI,cs
10,2018-08-10,9,True,AAON Inc.,AAON,cs
11,2018-08-10,10,True,Advance Auto Parts Inc W/I,AAP,cs
12,2018-08-10,11,True,Apple Inc.,AAPL,cs
13,2018-08-10,12,True,American Assets Trust Inc.,AAT,cs
14,2018-08-10,13,True,Almaden Minerals Ltd.,AAU,cs
15,2018-08-10,14,True,Advantage Oil & Gas Ltd,AAV,cs
16,2018-08-10,15,True,Atlas Air Worldwide Holdings,AAWW,cs
17,2018-08-10,16,True,iShares MSCI All Country Asia ex Japan Index Fund,AAXJ,et
18,2018-08-10,6667,True,Axon Enterprise Inc.,AAXN,cs
19,2018-08-10,17,True,AllianceBernstein Holding L.P. Units,AB,cs
20,2018-08-10,5129,True,Renmin Tianli Group Inc.,ABAC,cs
21,2018-08-10,19,True,ABB Ltd,ABB,cs
22,2018-08-10,20,True,AbbVie Inc.,ABBV,cs
23,2018-08-10,21,True,AmerisourceBergen Corporation,ABC,cs
24,2018-08-10,22,True,Ameris Bancorp,ABCB,cs
25,2018-08-10,23,True,Cambium Learning Group Inc.,ABCD,cs
26,2018-08-10,8607,True,Alcentra Capital Corp.,ABDC,cs
27,2018-08-10,9600,True,Abeona Therapeutics Inc.,ABEO,cs
28,2018-08-10,9607,True,,ABEOW,N/A
29,2018-08-10,36,True,Ambev S.A. American Depositary Shares (Each re...,ABEV,cs
...,...,...,...,...,...,...
8663,2018-08-10,7707,True,Virtus Global Dividend & Income Fund Inc.,ZTR,cs
8664,2018-08-10,7708,True,Zoetis Inc. Class A,ZTS,cs
8665,2018-08-10,7709,True,Zumiez Inc.,ZUMZ,cs
8666,2018-08-10,14265,True,Zuora Inc. Class A,ZUO,cs
8667,2018-08-10,7907,True,,ZVV,N/A
8668,2018-08-10,7908,True,,ZVVV,N/A
8669,2018-08-10,7909,True,NASDAQ TEST STOCK,ZVZZT,N/A
8670,2018-08-10,7910,True,NASDAQ TEST STOCK,ZWZZT,N/A
8671,2018-08-10,13391,True,,ZXIET,N/A
8672,2018-08-10,7911,True,NASDAQ TEST STOCK,ZXZZT,N/A
8673,2018-08-10,12759,True,Zymeworks Inc.,ZYME,cs
8674,2018-08-10,10257,True,Zynerba Pharmaceuticals Inc.,ZYNE,cs
8675,2018-08-10,10000000,True,Bitcoin USD,BTCUSDT,crypto
8676,2018-08-10,10000001,True,EOS USD,EOSUSDT,crypto
8677,2018-08-10,10000002,True,Ethereum USD,ETHUSDT,crypto
8678,2018-08-10,10000003,True,Binance Coin USD,BNBUSDT,crypto
8679,2018-08-10,10000004,True,Ontology USD,ONTUSDT,crypto
8680,2018-08-10,10000005,True,Bitcoin Cash USD,BCCUSDT,crypto
8681,2018-08-10,10000006,True,Cardano USD,ADAUSDT,crypto
8682,2018-08-10,10000007,True,Ripple USD,XRPUSDT,crypto
8683,2018-08-10,10000008,True,TrueUSD,TUSDUSDT,crypto
8684,2018-08-10,10000009,True,TRON USD,TRXUSDT,crypto
8685,2018-08-10,10000010,True,Litecoin USD,LTCUSDT,crypto
8686,2018-08-10,10000011,True,Ethereum Classic USD,ETCUSDT,crypto
8687,2018-08-10,10000012,True,MIOTA USD,IOTAUSDT,crypto
8688,2018-08-10,10000013,True,ICON USD,ICXUSDT,crypto
8689,2018-08-10,10000014,True,NEO USD,NEOUSDT,crypto
8690,2018-08-10,10000015,True,VeChain USD,VENUSDT,crypto
8691,2018-08-10,10000016,True,Stellar Lumens USD,XLMUSDT,crypto
8692,2018-08-10,10000017,True,Qtum USD,QTUMUSDT,crypto

In [31]:
pyEX.corporateActionsDF(date=None)

Empty DataFrame
Columns: []
Index: []

In [35]:
pyEX.dividendsDF(symbol)

,amount,declaredDate,exDate,flag,indicated,paymentDate,qualified,recordDate,type
0,0.63,2018-02-01,2018-02-09,,,2018-02-15,Q,2018-02-12,Dividend income

In [36]:
pyEX.nextDayExtDateDF(date=None)

Empty DataFrame
Columns: []
Index: []

In [37]:
pyEX.directoryDF(date=None)

,AdjustedPreviousOfficialClosingPrice,CompanyName,CountryofIncorporation,DailyListTimestamp,FinancialStatus,FirstDateListed,IPOFlag,InverseETPFlag,IssueDescription,IssueSubType,...,RoundLotSize,SICCode,SecurityName,SymbolinCMSSymbology,SymbolinCQSSymbology,SymbolinINETSymbology,TestIssue,TransferAgent,WhenDistributedFlag,WhenIssuedFlag
0,10.0000,ZEXIT Test Company,USA,2018-08-11T00:00:00,0,2017-09-15,N,N,Common Stock,C,...,100,5678,ZEXIT Common Stock,ZEXIT,ZEXIT,ZEXIT,Y,American Stock Transfer,N,N
1,100.0000,ZXIET Test Company,USA,2018-08-11T00:00:00,0,2017-09-15,N,N,Common Stock,C,...,100,2345,ZXIET Common Stock,ZXIET,ZXIET,ZXIET,Y,American Stock Transfer,N,N
2,1.0000,ZIEXT Test Company,USA,2018-08-11T00:00:00,0,2017-09-15,N,N,Common Stock,C,...,100,1234,ZIEXT Common Stock,ZIEXT,ZIEXT,ZIEXT,Y,American Stock Transfer,N,N

In [38]:
pyEX.topsDF(symbols=None)

,askPrice,askSize,bidPrice,bidSize,lastSalePrice,lastSaleSize,lastSaleTime,lastUpdated,marketPercent,sector,securityType,symbol,volume
0,0,0,0,0,168.475,8,1533931194107,1533933793387,0.05792,materials,commonstock,KWR,1378
1,0,0,0,0,21.390,98,1533921565002,1533931200000,0.00698,n/a,misc,MHNC,298
2,0,0,0,0,0.000,0,0,1533931200000,0.00000,n/a,etp,DWTR,0
3,0,0,0,0,0.000,0,0,1533931200000,0.00000,n/a,warrant,TACOW,0
4,0,0,0,0,3.325,400,1533930830526,1533931200000,0.04211,healthcareequipmentservices,commonstock,INFU,400
5,0,0,0,0,10.170,100,1533931155936,1533931200000,0.01096,diversifiedfinancials,commonstock,AI,3610
6,0,0,0,0,13.875,100,1533931173779,1533931327589,0.00746,consumerdurablesapparel,commonstock,NLS,1434
7,0,0,0,0,3.750,100,1533930000018,1533931200000,0.01955,materials,commonstock,NSU,13001
8,0,0,0,0,62.570,1,1533929191233,1533931200000,0.00117,n/a,etp,VYMI,178
9,0,0,0,0,1.685,100,1533931180072,1533931200000,0.01551,energy,commonstock,EPE,30792
10,0,0,0,0,80.900,100,1533930444720,1533931330982,0.03305,diversifiedfinancials,commonstock,FCFS,4121
11,0,0,0,0,28.275,100,1533931176143,1533931323224,0.03830,capitalgoods,commonstock,ATU,8964
12,0,0,0,0,21.630,30,1533931035719,1533931200000,0.01281,n/a,closedendfund,STK,1130
13,0,0,0,0,0.000,0,0,1533931200000,0.00000,retailing,commonstock,DIT,0
14,0,0,0,0,11.750,100,1533923042832,1533931200000,0.00389,n/a,closedendfund,EIM,200
15,0,0,0,0,16.560,100,1533931109938,1533931200000,0.08073,pharmaceuticalsbiotechnology,commonstock,EIDX,7500
16,0,0,0,0,31.050,100,1533931191916,1533931599911,0.02299,softwareservices,commonstock,DBX,507047
17,0,0,0,0,26.160,1,1533930833042,1533931200000,0.00079,n/a,misc,EZT,1
18,0,0,0,0,0.000,0,0,1533931200000,0.00000,pharmaceuticalsbiotechnology,commonstock,CVM,0
19,0,0,0,0,63.340,100,1533931187579,1533931324724,0.02380,softwareservices,commonstock,MMS,16464
20,0,0,0,0,0.000,0,0,1533931200000,0.00000,n/a,closedendfund,HTD,0
21,0,0,0,0,63.670,100,1533924938424,1533931200068,0.00489,n/a,etp,DFE,300
22,0,0,0,0,51.330,100,1533931197881,1533933725478,0.01587,utilities,commonstock,PEG,35639
23,0,0,0,0,0.000,0,0,1533931200000,0.00000,n/a,etp,FPXI,0
24,0,0,0,0,8.775,1,1533931179676,1533931200000,0.01449,energy,commonstock,FI,17386
25,0,0,0,0,0.000,0,0,1533931200000,0.00000,n/a,etp,SYLD,0
26,0,0,0,0,13.175,100,1533930314076,1533931200000,0.01268,consumerservices,commonstock,RLH,2116
27,0,0,0,0,43.875,1,1533925351092,1533931200000,0.00007,n/a,etp,SMIN,1
28,0,0,0,0,47.010,80,1533907807652,1533931200000,0.01313,n/a,etp,GAMR,355
29,0,0,0,0,14.350,100,1533918390054,1533931200000,0.02402,energy,royaltytrst,MTR,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8644,0,0,0,0,0.000,0,0,1533900151929,0.00000,n/a,etp,ARVR,0
8645,0,0,0,0,0.000,0,0,1533931200000,0.00000,n/a,etp,SPXN,0
8646,0,0,0,0,12.100,65,1533931175123,1533931200432,0.05837,commercialprofessionalservices,commonstock,PICO,6365
8647,0,0,0,0,23.360,100,1533928250797,1533931200365,0.05025,n/a,misc,JSM,400
8648,0,0,0,0,70.550,9,1533931061947,1533931393843,0.05281,softwareservices,commonstock,LDOS,22117
8649,0,0,0,0,0.000,0,0,1533931200000,0.00000,n/a,warrant,RWGE+,0
8650,0,0,0,0,0.000,0,0,1533931200000,0.00000,technologyhardwareequipment,commonstock,OCC,0
8651,0,0,0,0,3.280,100,1533914777367,1533931200000,0.01040,pharmaceuticalsbiotechnology,commonstock,NVLN,100
8652,0,0,0,0,21.690,100,1533926011956,1533931200000,0.00316,n/a,closedendfund,GBAB,100
8653,0,0,0,0,22.975,100,1533927720772,1533931200000,0.01967,n/a,closedendfund,NIE,825
8654,0,0,0,0,25.050,100,1533920081599,1533931200000,0.00746,n/a,etp,QYLD,807
8655,0,0,0,0,18.310,78,1533930859095,1533931200179,0.03205,pharmaceuticalsbiotechnology,adr,DBVT,2738
8656,0,0,0,0,0.000,0,0,1533931200000,0.00000,n/a,misc,SNHNL,0
8657,0,0,0,0,91.495,20,1533931047987,1533933603888,0.19292,n/a,etp,BIL,55447
8658,0,0,0,0,90.430,100,1533931121118,1533931839228,0.02532,consumerservices,commonstock,JACK,20658
8659,0,0,0,0,26.680,200,1533931198093,1533931200000,0.01084,pharmaceuticalsbiotechnology,commonstock,TSRO,9734
8660,0,0,0,0,15.390,100,1533931175771,1533931323849,0.01701,realestate,reit,UMH,1403
8661,0,0,0,0,7.195,3,1533931145125,1533931200000,0.00467,softwareservices,commonstock,RMNI,1006
8662,0,0,0,0,3.075,400,1533931195003,1533931200000,0.02770,pharmaceuticalsbiotechnology,commonstock,ACRX,9621
8663,0,0,0,0,56.620,100,1533931176039,1533931324911,0.01949,householdpersonalproducts,commonstock,EPC,14521
8664,0,0,0,0,84.125,3,1533931061105,1533932015900,0.01600,capitalgoods,commonstock,AMWD,1460
8665,0,0,0,0,9.090,100,1533927539849,1533931200000,0.05562,transportation,commonstock,CAAP,10360
8666,0,0,0,0,2.155,100,1533918067904,1533931200000,0.00258,capitalgoods,commonstock,BWEN,100
8667,0,0,0,0,0.000,0,0,1533931200000,0.00000,pharmaceuticalsbiotechnology,commonstock,ARCT,0
8668,0,0,0,0,22.505,64,1533931194625,1533931292951,0.01788,pharmaceuticalsbiotechnology,adr,TEVA,73054
8669,0,0,0,0,180.500,100,1533931120944,1533931200000,0.02143,technologyhardwareequipment,commonstock,COHR,9061
8670,0,0,0,0,0.000,0,0,1533931200000,0.00000,n/a,misc,BAC-L,0
8671,0,0,0,0,0.000,0,0,1533931200000,0.00000,n/a,etp,FYT,0
8672,0,0,0,0,0.000,0,0,1533931200000,0.00000,pharmaceuticalsbiotechnology,adr,IMRN,0
8673,0,0,0,0,121.220,100,1533929104393,1533931208494,0.03697,semiconductorssemiconductor,commonstock,CCMP,2859

In [39]:
pyEX.lastDF(symbols=None)

        price  size symbol           time
0      58.100   100    BNS  1533930989261
1       3.140   100   ACET  1533930360033
2       7.890   500   SPPP  1533926214839
3      13.025   100   HMTV  1533931108397
4      21.660    11    IDX  1533930940747
5       0.000     0   RAAX              0
6      25.110    19   IBDH  1533913248210
7      25.580    53   KEMP  1532546303461
8       0.000     0  TRTLU              0
9      31.805    43    RPD  1533931187143
10     23.750   193  NNN-F  1533839482404
11      3.750   100    OCC  1533142567780
12     81.160    11    AGM  1533931101457
13     22.125   100    ETH  1533931178637
14     28.250   100    MSB  1533670004648
15     37.820   100   TRNO  1533931150149
16      7.020   100     QD  1533931175638
17     14.485   100   OXFD  1533930448327
18      1.050   200    SLS  1533929936221
19      9.090   100   CAAP  1533927539849
20     25.975   200   MNTA  1533931198225
21     26.240   100  DCP-B  1533660673682
22     26.290   100  BATRA  1533919889975
23    571.515    25    MTD  1533930535046
24     23.000   100    CEE  1533908912749
25      8.270   500   TVIZ  1533908048028
26     30.190   100    GIL  1533931197102
27     25.350  1600  ETP-C  1533919174751
28     22.795   200    PST  1533931122245
29     52.970   100   COF+  1533067175400
...       ...   ...    ...            ...
9537   23.405    14  FRT-C  1533914258000
9538    7.700    61  GNE-A  1532974260737
9539  126.505    21   STRA  1533930942204
9540   20.500   200   SNSR  1533844798053
9541    1.470   100    DSS  1533325112927
9542   32.100   124    FXO  1533930963518
9543   18.155   100    PGZ  1533916039672
9544   23.560   140  SAN-B  1533665471538
9545   52.800   100   FSLR  1533931197823
9546    2.520    13   BOSC  1533912467647
9547    1.430    37  ROSEW  1533045279226
9548   24.530     6    EAB  1533747437754
9549    2.100   100   MPVD  1533841459496
9550   31.245   100     LB  1533931180972
9551    8.200   100   UFAB  1533754382068
9552    0.000     0    DYN              0
9553   38.800   100     DQ  1533930457897
9554   46.090   100   ETSY  1533931182557
9555   10.220   100   KAAC  1533930080314
9556  104.670   100    XPO  1533931197010
9557   33.720   100   SPXH  1521564023719
9558   68.670   100    HXL  1533931191587
9559    8.450   100   ASB+  1529091544729
9560   10.310  1100     BB  1533931193655
9561   49.975   200   MEAR  1533755291507
9562    5.235   400   TXMD  1533931156261
9563    9.260   100   DZSI  1533220086599
9564   54.665   100    SNE  1533931191144
9565    6.180   100   AMBO  1533325158101
9566   17.590   100   MRBK  1533844790011

[9567 rows x 4 columns]

In [40]:
pyEX.histDF(date=None)

,20161212,20161213,20161214,20161215,20161216,20161219,20161220,20161221,20161222,20161223,...,20180730,20180731,20180801,20180802,20180803,20180806,20180807,20180808,20180809,20180810
0,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...

In [41]:
pyEX.deepDF(symbol=None)

Empty DataFrame
Columns: []
Index: [0]

In [43]:
pyEX.bookDF(symbol)

,asks,bids,quote.avgTotalVolume,quote.calculationPrice,quote.change,quote.changePercent,quote.close,quote.closeTime,quote.companyName,quote.delayedPrice,...,quote.previousClose,quote.primaryExchange,quote.sector,quote.symbol,quote.week52High,quote.week52Low,quote.ytdChange,systemEvent.systemEvent,systemEvent.timestamp,trades
0,[],[],23511202,close,-0.62,-0.00298,207.53,1533931200303,Apple Inc.,207.53,...,208.15,Nasdaq Global Select,Technology,AAPL,209.78,149.16,0.215604,C,1533935400006,"[{'price': 207.56, 'size': 100, 'tradeId': 742..."

In [44]:
pyEX.tradesDF(symbol)

                                                AAPL
0  [{'price': 207.56, 'size': 100, 'tradeId': 742...

In [45]:
pyEX.systemEventDF()

  systemEvent      timestamp
0           C  1533935400006

In [46]:
pyEX.tradingStatusDF(symbol)

  AAPL.reason AAPL.status  AAPL.timestamp
0                       T   1533900151928

In [47]:
pyEX.opHaltStatusDF(symbol)

   AAPL.isHalted  AAPL.timestamp
0          False   1533900151928

In [48]:
pyEX.ssrStatusDF(symbol)

  AAPL.detail  AAPL.isSSR  AAPL.timestamp
0                   False   1533900151928

In [49]:
pyEX.securityEventDF(symbol)

  AAPL.securityEvent  AAPL.timestamp
0        MarketClose   1533931200000

In [50]:
pyEX.tradeBreakDF(symbol)

Empty DataFrame
Columns: []
Index: [0]

In [51]:
pyEX.auctionDF(symbol)

Empty DataFrame
Columns: []
Index: [0]

In [52]:
pyEX.statsDF()

,volume,symbolsTraded,routedVolume,notional,marketShare
lastUpdated,1533935705532,1533934770065,1533935705532,1533935705532,1.533936e+12
value,156589012,5516,30565165,7997154403,2.327000e-02

In [54]:
pyEX.recentDF()

         date  isHalfday  litVolume  marketShare  routedVolume     volume
0  2018-08-09      False   40794162      0.02702      36295473  161235148
1  2018-08-08      False   40163047      0.02668      29986653  161004670
2  2018-08-07      False   42872256      0.02671      39619098  169676558
3  2018-08-06      False   38947711      0.02448      38033260  146519412
4  2018-08-03      False   42117609      0.02701      33036659  163032593
5  2018-08-02      False   48705654      0.02760      41153974  186840652
6  2018-08-01      False   50400792      0.02781      38771846  192348185

In [55]:
pyEX.recordsDF()

                      volume symbolsTraded routedVolume     notional
avg30Value         162076154          5581     34881346  8.60055e+09
previousDayValue   161235148          5500     36295473  8.13554e+09
recordDate        2018-02-09    2018-02-06   2016-11-10   2018-02-06
recordValue        286354807          6381     74855222  1.72697e+10

In [56]:
pyEX.summaryDF(date=None)

,averageDailyRoutedVolume,averageDailyVolume,averageFillSize,averageMarketShare,averageOrderSize,bin10000Percent,bin10000Trades,bin1000Percent,bin100Percent,bin101Percent,...,venueXCHIFirstWaveRate,venueXCHIFirstWaveWeight,venueXCISFirstWaveRate,venueXCISFirstWaveWeight,venueXNGSFirstWaveRate,venueXNGSFirstWaveWeight,venueXNYSFirstWaveRate,venueXNYSFirstWaveWeight,venueXPHLFirstWaveRate,venueXPHLFirstWaveWeight
0,49724407.57,147992555.8,201,0.02435,711,0.00102,5008,0.02435,0.73035,0.01605,...,0.82809,0.00193,0.94866,0.00272,0.99161,0.22478,0.98846,0.22319,0.97001,0.00866

In [57]:
pyEX.dailyDF(date=None, last='')
pyEX.marketsDF()

,lastUpdated,marketPercent,mic,tapeA,tapeB,tapeC,tapeId,venueName,volume
0,1533935705274,0.36054,TRF,1112748264,471232286,841964062,,TRF Volume,2425944612
1,1533935702782,0.15667,XNGS,351830252,168821295,533522886,Q,NASDAQ,1054174433
2,1533933900056,0.13066,XNYS,828276285,23814515,27056447,N,NYSE,879147247
3,1533935702479,0.09591,ARCX,172371142,295297358,177705564,P,NYSE Arca,645374064
4,1533935672432,0.06212,BATS,197201722,108757337,112055439,Z,BATS BZX,418014498
5,1533935702777,0.05595,EDGX,138629869,78363987,159462013,K,EDGX,376455869
6,1533934782935,0.04894,BATY,168670096,85878109,74765356,Y,BATS BYX,329313561
7,1533935659478,0.03078,XBOS,110535283,37950863,58613126,B,NASDAQ BX,207099272
8,1533934770066,0.02327,IEXG,89410918,18603313,48574781,V,IEX,156589012
9,1533935230080,0.01265,EDGA,37318551,24738586,23065402,J,EDGA,85122539
10,1533934735113,0.00755,XPHL,15463177,21317365,14020000,X,NASDAQ PSX,50800542
11,1533935310078,0.00675,XCIS,22894943,10643766,11900699,C,NYSE National,45439408
12,1533932848949,0.00498,XCHI,9362168,11481477,12678125,M,CHX,33521770
13,1533932297444,0.00323,XASE,4865139,14223134,2631624,A,NYSE American,21719897