In [1]:
import pyEX

# Symbols data

In [2]:
pyEX.symbolsDF().head()

             date  iexId  isEnabled                       name type
symbol
A      2018-09-26      2       True  Agilent Technologies Inc.   cs
AA     2018-09-26  12042       True          Alcoa Corporation   cs
AAAU   2018-09-26  14924       True   Perth Mint Physical Gold  N/A
AABA   2018-09-26   7653       True                Altaba Inc.   cs
AAC    2018-09-26   9169       True          AAC Holdings Inc.   cs

In [3]:
pyEX.symbolsList()[:10]

['A', 'AA', 'AAAU', 'AABA', 'AAC', 'AADR', 'AAL', 'AAMC', 'AAME', 'AAN']

# Bulk data fetch

In [4]:
%%time
# fetch 10 market data fields on all symbols
x = pyEX.bulkBatch(pyEX.symbolsList())
print(len(x))

8706
CPU times: user 3.33 s, sys: 435 ms, total: 3.77 s
Wall time: 4.74 s

# Stock API

In [5]:
symbol = 'AAPL'

In [6]:
pyEX.bookDF(symbol)

,avgTotalVolume,calculationPrice,change,changePercent,close,closeTime,companyName,delayedPrice,delayedPriceTime,extendedChange,...,primaryExchange,sector,size,symbol,timestamp,tradeId,type,week52High,week52Low,ytdChange
0,32963104.0,close,-1.77,-0.00797,220.42,2018-09-26 20:00:00.330,Apple Inc.,220.42,2018-09-26 20:00:00.330,0.06,...,Nasdaq Global Select,Technology,NaN,AAPL,NaT,NaN,quote,229.67,150.24,0.286302
0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,48.0,AAPL,2018-09-26 19:59:59.008,771078403.0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,6.0,AAPL,2018-09-26 19:59:58.931,771032537.0,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,100.0,AAPL,2018-09-26 19:59:57.608,770700061.0,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,5.0,AAPL,2018-09-26 19:59:56.043,770141585.0,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,113.0,AAPL,2018-09-26 19:59:55.202,769822028.0,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,300.0,AAPL,2018-09-26 19:59:55.202,769822011.0,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,100.0,AAPL,2018-09-26 19:59:54.327,769461976.0,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,200.0,AAPL,2018-09-26 19:59:54.320,769461144.0,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,100.0,AAPL,2018-09-26 19:59:54.320,769461139.0,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,100.0,AAPL,2018-09-26 19:59:54.316,769460825.0,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,400.0,AAPL,2018-09-26 19:59:53.874,769359345.0,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,500.0,AAPL,2018-09-26 19:59:52.989,769190419.0,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,300.0,AAPL,2018-09-26 19:59:52.988,769190233.0,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,2.0,AAPL,2018-09-26 19:59:52.225,769070583.0,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,100.0,AAPL,2018-09-26 19:59:52.202,769066872.0,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,100.0,AAPL,2018-09-26 19:59:52.070,769027274.0,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,5.0,AAPL,2018-09-26 19:59:51.526,768932718.0,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,95.0,AAPL,2018-09-26 19:59:51.526,768932711.0,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,100.0,AAPL,2018-09-26 19:59:51.441,768922400.0,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,100.0,AAPL,2018-09-26 19:59:50.979,768848291.0,NaN,NaN,NaN,NaN

In [7]:
pyEX.chartDF(symbol, timeframe='1m').head()

,change,changeOverTime,changePercent,close,high,label,low,open,unadjustedVolume,volume,vwap
date,,,,,,,,,,,
2018-08-24,0.67,0.000000,0.311,216.16,216.90,Aug 24,215.11,216.60,18476356,18476356,216.0586
2018-08-27,1.78,0.008235,0.823,217.94,218.74,Aug 27,216.33,217.15,20525117,20525117,217.7725
2018-08-28,1.76,0.016377,0.808,219.70,220.54,Aug 28,218.92,219.01,22776766,22776766,219.6874
2018-08-29,3.28,0.031551,1.493,222.98,223.49,Aug 29,219.41,220.15,27254804,27254804,221.8049
2018-08-30,2.05,0.041034,0.919,225.03,228.26,Aug 30,222.40,223.25,48793824,48793824,225.2064

In [8]:
pyEX.chartDF(symbol, timeframe='1d').head()

                   average  changeOverTime   close    high     label     low  \
date       minute
2018-09-26 09:30   221.394        0.000000  221.59  221.84  09:30 AM  221.10
           09:31   222.014        0.002800  221.92  222.16  09:31 AM  221.56
           09:32   222.192        0.003604  222.36  222.40  09:32 AM  221.93
           09:33   222.242        0.003830  222.23  222.37  09:33 AM  222.15
           09:34   222.610        0.005492  222.65  222.69  09:34 AM  222.52

                   marketAverage  marketChangeOverTime  marketClose  \
date       minute
2018-09-26 09:30         221.263              0.000000      221.626
           09:31         221.943              0.003073      222.040
           09:32         222.117              0.003860      222.310
           09:33         222.252              0.004470      222.220
           09:34         222.605              0.006065      222.710

                   marketHigh  marketLow  marketNotional  \
date       minute
2018-09-26 09:30       221.94     221.00    2.113881e+08
           09:31       222.20     221.50    3.988010e+07
           09:32       222.43     221.84    3.287668e+07
           09:33       222.38     222.12    1.911081e+07
           09:34       222.74     221.15    4.261834e+07

                   marketNumberOfTrades  marketOpen  marketVolume    notional  \
date       minute
2018-09-26 09:30                   2563     221.000        955372  1134866.78
           09:31                   1508     221.580        179686   631852.98
           09:32                   1193     222.040        148015   353285.44
           09:33                    926     222.270         85987   334030.32
           09:34                   1528     222.241        191453   435424.47

                   numberOfTrades    open  volume
date       minute
2018-09-26 09:30               38  221.14    5126
           09:31               28  221.64    2846
           09:32               25  221.93    1590
           09:33               17  222.22    1503
           09:34               21  222.54    1956

In [9]:
pyEX.companyDF(symbol)

,CEO,companyName,description,exchange,industry,issueType,sector,tags,website
symbol,,,,,,,,,
AAPL,Timothy D. Cook,Apple Inc.,"Apple Inc is designs, manufactures and markets...",Nasdaq Global Select,Computer Hardware,cs,Technology,"[Technology, Consumer Electronics, Computer Ha...",http://www.apple.com

In [10]:
pyEX.collectionsDF('sector', 'Health Care').head()

,avgTotalVolume,calculationPrice,change,changePercent,close,closeTime,companyName,delayedPrice,delayedPriceTime,extendedChange,...,marketCap,open,openTime,peRatio,previousClose,primaryExchange,sector,week52High,week52Low,ytdChange
symbol,,,,,,,,,,,,,,,,,,,,,
LLY,3378661,close,0.6100,0.00577,106.310,2018-09-26 20:02:00.912,Eli Lilly and Company,106.310,2018-09-26 20:02:00.912,0.0000,...,114175648971,106.1500,2018-09-26 13:31:31.314,21.14,105.7000,New York Stock Exchange,Healthcare,107.840,73.69,0.278934
CYH,2048187,close,0.0600,0.01760,3.470,2018-09-26 20:02:51.944,Community Health Systems Inc.,3.470,2018-09-26 20:02:51.944,0.0000,...,403400471,3.4500,2018-09-26 13:30:46.848,-3.86,3.4100,New York Stock Exchange,Healthcare,7.890,2.66,-0.207846
LHCG,229544,close,-0.5300,-0.00522,100.990,2018-09-26 20:00:00.279,LHC Group,100.990,2018-09-26 20:00:00.279,0.0000,...,3164334819,101.8600,2018-09-26 13:30:00.649,36.99,101.5200,Nasdaq Global Select,Healthcare,102.445,58.651,0.642297
APRI,639156,close,-0.0057,-0.01865,0.300,2018-09-26 20:00:00.470,Apricus Biosciences Inc.,0.300,2018-09-26 20:00:00.470,-0.0060,...,7032435,0.2979,2018-09-26 13:30:00.060,-0.43,0.3057,NASDAQ Capital Market,Healthcare,3.342,0.25,-0.867660
HSGX,1362846,close,-0.0148,-0.02509,0.575,2018-09-26 20:00:00.337,Histogenics Corporation,0.575,2018-09-26 20:00:00.337,0.0806,...,16555115,0.5805,2018-09-26 13:30:00.513,-0.61,0.5898,NASDAQ Capital Market,Healthcare,3.350,0.51011,-0.747312

In [11]:
pyEX.cryptoDF().head()

,askPrice,askSize,avgTotalVolume,bidPrice,bidSize,calculationPrice,change,changePercent,close,closeTime,...,marketCap,open,openTime,peRatio,previousClose,primaryExchange,sector,week52High,week52Low,ytdChange
symbol,,,,,,,,,,,,,,,,,,,,,
BTCUSDT,6517.0800,0.528975,None,6513.0300,0.225561,realtime,100.0600,0.01560,6479.567125,2018-09-27 01:08:36.165,...,None,6413.0100,2018-09-26 01:08:36.165,None,6413.0100,crypto,cryptocurrency,None,None,None
EOSUSDT,5.6621,300.000000,None,5.6581,875.780000,realtime,0.3169,0.05931,5.475414,2018-09-27 01:08:35.415,...,None,5.3431,2018-09-26 01:08:35.415,None,5.3424,crypto,cryptocurrency,None,None,None
ETHUSDT,219.0100,1.000000,None,218.9400,5.023500,realtime,3.6300,0.01686,215.401619,2018-09-27 01:08:35.800,...,None,215.3200,2018-09-26 01:08:35.800,None,215.2800,crypto,cryptocurrency,None,None,None
BNBUSDT,9.8173,28.800000,None,9.8102,47.080000,realtime,0.0903,0.00928,9.753876,2018-09-27 01:08:34.699,...,None,9.7268,2018-09-26 01:08:34.699,None,9.7290,crypto,cryptocurrency,None,None,None
ONTUSDT,1.8610,0.472000,None,1.8600,877.416000,realtime,0.0310,0.01695,1.843392,2018-09-27 01:08:36.184,...,None,1.8290,2018-09-26 01:08:36.184,None,1.8290,crypto,cryptocurrency,None,None,None

In [12]:
pyEX.delayedQuoteDF(symbol)

,delayedPrice,delayedPriceTime,delayedSize,high,low,processedTime
symbol,,,,,,
AAPL,220.42,2018-09-26 20:00:00.330,2454028,223.75,219.76,1537992901695

In [13]:
pyEX.dividendsDF(symbol, timeframe='ytd')

,amount,declaredDate,flag,indicated,paymentDate,qualified,recordDate,type
exDate,,,,,,,,
2018-02-09,0.63,2018-02-01,,,2018-02-15,Q,2018-02-12,Dividend income

In [14]:
pyEX.earningsDF(symbol)

,EPSSurpriseDollar,actualEPS,announceTime,consensusEPS,estimatedChangePercent,estimatedEPS,fiscalEndDate,fiscalPeriod,numberOfEstimates,symbolId,yearAgo,yearAgoChangePercent,symbol
EPSReportDate,,,,,,,,,,,,,
2018-07-31,0.17,2.34,AMC,2.17,0.299401,2.17,2018-06-30,Q3 2018,10,11,1.67,0.401198,AAPL
2018-05-01,0.04,2.73,AMC,2.69,0.280952,2.69,2018-03-31,Q2 2018,10,11,2.10,0.300000,AAPL
2018-02-01,0.07,3.89,AMC,3.82,0.136905,3.82,2017-12-31,Q1 2018,9,11,3.36,0.157738,AAPL
2017-11-02,0.20,2.07,AMC,1.87,0.119760,1.87,2017-09-30,Q4 2017,10,11,1.67,0.239521,AAPL

In [15]:
pyEX.earningsTodayDF()

Empty DataFrame
Columns: []
Index: []

In [16]:
pyEX.spreadDF(symbol).head()

,effectiveQuoted,effectiveSpread,priceImprovement,venueName,volume
venue,,,,,
XBOS,0.908902,0.018072,0.001307,Nasdaq BX,8803129
XCHI,0.545061,0.017972,0.007573,CHX,68352
XCIS,0.967844,0.016394,0.000379,NYSE National,1881992
BATY,0.857991,0.016194,0.001711,Cboe BYX,5855716
XPHL,0.866583,0.015626,0.001894,Nasdaq PSX,4741847

In [17]:
pyEX.financialsDF(symbol)

,cashChange,cashFlow,costOfRevenue,currentAssets,currentCash,currentDebt,grossProfit,netIncome,operatingExpense,operatingGainsLosses,operatingIncome,operatingRevenue,researchAndDevelopment,shareholderEquity,totalAssets,totalCash,totalDebt,totalLiabilities,totalRevenue,symbol
reportDate,,,,,,,,,,,,,,,,,,,,
2018-06-30,-13088000000,14488000000,32844000000,115761000000,31971000000,17472000000,20421000000,11519000000,7809000000,None,12612000000,53265000000,3701000000,114949000000,349197000000,70970000000,114600000000,None,53265000000,AAPL
2018-03-31,17568000000,15130000000,37715000000,130053000000,45059000000,20478000000,23422000000,13822000000,7528000000,None,15894000000,61137000000,3378000000,126878000000,367502000000,87940000000,121840000000,None,61137000000,AAPL
2017-12-31,7202000000,28293000000,54381000000,143810000000,27491000000,18478000000,33912000000,20065000000,7638000000,None,26274000000,88293000000,3407000000,140199000000,406794000000,77153000000,122400000000,None,88293000000,AAPL
2017-09-30,1718000000,15122000000,32648000000,128645000000,20289000000,18473000000,19931000000,10714000000,6811000000,None,13120000000,52579000000,2997000000,134047000000,375319000000,74181000000,115680000000,None,52579000000,AAPL

In [18]:
pyEX.ipoTodayDF()

,address,amount,auditor,businessDescription,ceo,cik,city,companyCounsel,companyDescription,companyName,...,status,stockholderEquity,totalAssets,totalExpenses,totalLiabilities,underwriterCounsel,underwriters,url,useOfProceeds,zip
symbol,,,,,,,,,,,,,,,,,,,,,
ARCE,RUA ELVIRA FERRAZ 250,97222221,Not Specified,Our mission is to transform the way students l...,Ari de SÃ¡ Cavalcante Neto,0001740594,SAO PAULO - SP 04552-040,[Davis Polk & Wardwell LLP],Our mission is to transform the way students l...,ARCO PLATFORM LTD.,...,Filed,73171000,103380000,4246881,30253000,[White and Case LLP],"[Allen & Company LLC, BTG Pactual US Capital L...",www.arcoeducacao.com.br,We estimate that the net proceeds from our iss...,
ETTX,35 GATEHOUSE DRIVE,37500000,"Computershare Trust Company, N.A",We are a clinical-stage biopharmaceutical comp...,Manoussos Perros,0001724344,WALTHAM,[Cooley LLP],We are a clinical-stage biopharmaceutical comp...,ENTASIS THERAPEUTICS HOLDINGS INC.,...,Filed,-71717000,41503000,3500000,8507000,[Wilmer Cutler Pickering Hale and Dorr LLP],"[SunTrust Robinson Humphrey, Inc, Wedbush Secu...",www.entasistx.com,We estimate that the net proceeds from our iss...,02451
CBNK,One Church Street,13929600,"American Stock Transfer & Trust Company, LLC","We are Capital Bancorp, Inc., a bank holding c...",Edward F. Barry,0001419536,Rockville,[Holland and Knight LLP],"We are Capital Bancorp, Inc., a bank holding c...",CAPITAL BANCORP INC,...,Filed,86994094,1067786156,1250000,980792062,[Covington & Burling LLP],"[Hovde Group, LLC, Sandler Oâ€™Neill & Partners,...",www.capitalbankmd.com,Assuming an initial public offering price of $...,20850
SVMK,ONE CURIOSITY WAY,90000000,"Computershare Trust Company, N.A",We are a leading global provider of survey sof...,Alexander J. Lurie,0001739936,SAN MATEO,"[Wilson Sonsini Goodrich & Rosati, P.C.]",We are a leading global provider of survey sof...,SVMK INC.,...,Filed,27609000,578828000,8000000,551219000,[Latham & Watkins LLP],"[Code Advisors LLC, Credit Suisse Securities (...",www.surveymonkey.com,We estimate that the net proceeds to us from t...,94403

In [19]:
pyEX.ipoUpcomingDF().head()

,address,amount,auditor,businessDescription,ceo,cik,city,companyCounsel,companyDescription,companyName,...,status,stockholderEquity,totalAssets,totalExpenses,totalLiabilities,underwriterCounsel,underwriters,url,useOfProceeds,zip
symbol,,,,,,,,,,,,,,,,,,,,,
STRO,"310 UTAH AVE., SUITE 150",75000000,"American Stock Transfer & Trust Company, LLC","We are a clinical stage drug discovery, develo...",William J. Newell,0001382101,SOUTH SAN FRANCISCO,[Fenwick & West LLP],"We are a clinical stage drug discovery, develo...",SUTRO BIOPHARMA INC,...,Filed,-132019000,45181000,3900000,41480000,[Cooley LLP],"[JMP Securities LLC, Wedbush Securities Inc]",www.sutrobio.com,We estimate that the net proceeds from our sal...,94080
ARVN,"395 WINCHESTER COMPANY, LLC",100000005,"Computershare Trust Company, N.A",We are a biopharmaceutical company dedicated t...,John Houston,0001655759,NEW HAVEN,[Wilmer Cutler Pickering Hale and Dorr LLP],We are a biopharmaceutical company dedicated t...,"ARVINAS HOLDING COMPANY, LLC",...,Filed,-158515897,105991051,3100000,61710368,[Goodwin Procter LLP],[],www.arvinas.com,We estimate that the net proceeds from our iss...,06511
UROV,5151 CALIFORNIA AVENUE,150000000,"American Stock Transfer & Trust Company, LLC",We are a clinical-stage biopharmaceutical comp...,Keith A. Katkin,0001740547,IRVINE,[Cooley LLP],We are a clinical-stage biopharmaceutical comp...,UROVANT SCIENCES LTD.,...,Filed,-5135125,11662384,2300000,16797509,[Latham & Watkins LLP],[],www.urovant.com,We estimate that the net proceeds from our iss...,92617
LAIX,"3/F. BUILDING B, NO. 1687 CHANGYANG ROAD",71875000,Not Specified,Our Mission &#10; &#10; Empower everyone to a...,Yi Wang,0001742056,SHANGHAI 200090,"[Skadden, Arps, Slate, Meagher & Flom LLP]",Our Mission &#10; &#10; Empower everyone to a...,LAIX INC.,...,Filed,-94683050,70630291,3727950,63993651,[Kirkland & Ellis International LLP],[],www.liulishuo.com,We estimate that we will receive net proceeds ...,
RMED,2070 LAS PALMAS DRIVE,49999995,"American Stock Transfer & Trust Company, LLC",We are a commercial-stage medical device compa...,Dean Irwin,0001716621,CARLSBAD,"[Wilson Sonsini Goodrich & Rosati, P.C.]",We are a commercial-stage medical device compa...,"RA MEDICAL SYSTEMS, INC.",...,Filed,9778000,16605000,3300000,6827000,[Cooley LLP],"[Maxim Group, LLC, Nomura Securities Internati...",www.ramed.com,We estimate that the net proceeds from the sal...,92011

In [20]:
pyEX.thresholdDF(date=None)

Empty DataFrame
Columns: []
Index: []

In [21]:
pyEX.shortInterestDF(symbol, date=None)

Empty DataFrame
Columns: []
Index: []

In [22]:
pyEX.marketShortInterestDF(date=None)

Empty DataFrame
Columns: []
Index: []

In [23]:
pyEX.stockStatsDF(symbol)

,EBITDA,EPSSurpriseDollar,EPSSurprisePercent,beta,cash,companyName,consensusEPS,day200MovingAvg,day30ChangePercent,day50MovingAvg,...,shortInterest,shortRatio,ttmEPS,week52change,week52high,week52low,year1ChangePercent,year2ChangePercent,year5ChangePercent,ytdChangePercent
symbol,,,,,,,,,,,,,,,,,,,,,
AAPL,47576000000,None,1.487,1.354554,151334000000,Apple Inc.,2.69,184.67111,0.048421,211.05602,...,47549672,1.54,10.36,49.8171,229.67,150.24,0.486236,1.017185,2.490657,0.294272

In [24]:
pyEX.largestTradesDF(symbol).head()

                           price   size timeLabel venue     venueName
time
2018-09-26 15:31:50.027  223.120  25924  11:31:50  None  Off Exchange
2018-09-26 19:39:12.762  221.750  25000  15:39:12  None  Off Exchange
2018-09-26 14:01:29.162  223.385  20300  10:01:29  None  Off Exchange
2018-09-26 20:00:00.000  220.420  20224  16:00:00  None  Off Exchange
2018-09-26 13:43:11.947  222.280  18598  09:43:11  None  Off Exchange

In [25]:
pyEX.listDF(option='mostactive')

,avgTotalVolume,calculationPrice,change,changePercent,close,closeTime,companyName,delayedPrice,delayedPriceTime,extendedChange,...,marketCap,open,openTime,peRatio,previousClose,primaryExchange,sector,week52High,week52Low,ytdChange
symbol,,,,,,,,,,,,,,,,,,,,,
GE,57710398,close,0.12,0.01065,11.39,2018-09-26 20:00:04.728,General Electric Company,11.39,2018-09-26 20:00:04.728,0.01,...,98991412590,11.27,2018-09-26 13:30:20.716,12.52,11.27,New York Stock Exchange,Industrials,25.210,11.210,-0.338816
AMD,144905708,close,-0.38,-0.01167,32.19,2018-09-26 20:00:00.539,Advanced Micro Devices Inc.,32.19,2018-09-26 20:00:00.539,0.12,...,31381142846,32.36,2018-09-26 13:30:00.471,94.68,32.57,NASDAQ Capital Market,Technology,34.140,9.040,1.954632
CNP,3025654,close,-0.40,-0.01447,27.25,2018-09-26 20:01:50.565,CenterPoint Energy Inc (Holding Co),27.25,2018-09-26 20:01:50.565,-0.03,...,11759838080,27.48,2018-09-26 13:31:21.230,17.36,27.65,New York Stock Exchange,Utilities,30.170,24.810,-0.011289
BAC,49393910,close,-0.54,-0.01761,30.13,2018-09-26 20:00:31.404,Bank of America Corporation,30.13,2018-09-26 20:00:31.404,0.06,...,300873151725,30.72,2018-09-26 13:30:23.356,13.70,30.67,New York Stock Exchange,Financial Services,33.050,24.685,0.002905
F,39622027,close,-0.12,-0.01278,9.27,2018-09-26 20:01:48.060,Ford Motor Company,9.27,2018-09-26 20:01:48.060,0.03,...,36947685007,9.37,2018-09-26 13:31:33.612,6.10,9.39,New York Stock Exchange,Consumer Cyclical,13.480,9.220,-0.241880
SIRI,18288016,close,0.11,0.01754,6.38,2018-09-26 20:00:00.412,Sirius XM Holdings Inc.,6.38,2018-09-26 20:00:00.412,0.02,...,28634107807,6.28,2018-09-26 13:30:00.206,27.74,6.27,Nasdaq Global Select,Consumer Cyclical,7.700,5.170,0.227124
SWN,18702436,close,-0.57,-0.09930,5.17,2018-09-26 20:03:50.917,Southwestern Energy Company,5.17,2018-09-26 20:03:50.917,-0.01,...,3031183780,5.67,2018-09-26 13:30:00.755,8.08,5.74,New York Stock Exchange,Energy,6.715,3.420,-0.128065
AMRN,12207255,close,0.45,0.03462,13.45,2018-09-26 20:00:00.322,Amarin Corporation plc,13.45,2018-09-26 20:00:00.322,0.03,...,3985892745,13.01,2018-09-26 13:30:00.496,-42.03,13.00,NASDAQ Global Market,Healthcare,14.640,2.350,2.206790
GPRO,2458765,close,0.30,0.04532,6.92,2018-09-26 20:00:00.579,GoPro Inc.,6.92,2018-09-26 20:00:00.579,0.07,...,1029634765,7.27,2018-09-26 13:30:00.417,-7.69,6.62,Nasdaq Global Select,Technology,11.890,4.420,-0.024572
FTV,7298971,close,-0.97,-0.01128,85.03,2018-09-26 20:02:28.239,Fortive Corporation,85.03,2018-09-26 20:02:28.239,0.34,...,29688424746,85.83,2018-09-26 13:30:00.559,25.92,86.00,New York Stock Exchange,Technology,88.340,69.030,0.166639

In [26]:
pyEX.logoNotebook(symbol)

In [27]:
pyEX.newsDF(symbol, count=10)

,headline,image,related,source,summary,url
datetime,,,,,,
2018-09-26 18:55:38,What Can The U.S. And China Tariffs Do To Micr...,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,ASIA0001,Asia Pacific,CHINA001,Computer H...",SeekingAlpha,By K.C. Ma and Zachary Gunn The short a...,https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-26 15:20:40,Apple: Where No iPhone Has Gone Before,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,AMD,INTC,NASDAQ01,OTCBULLB,QCOM,SEM31169,...",SeekingAlpha,Rethink Technology business briefs for Se...,https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-26 14:37:16,Apple: Is Warren Buffett Right?,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,Computer Hardware,CON31167138,NASDAQ01,Co...",SeekingAlpha,Warren Buffett said that he would not inves...,https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-26 13:13:00,"Your first trade for Wednesday, Sept 26",https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,CLF,EWW,INTC,XOP",CNBC,No summary available.,https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-26 12:47:00,SurveyMonkey CEO on IPO day: We pay 'great hee...,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,AMZN,FB,GOOGL,TWTR",CNBC,No summary available.,https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-26 12:40:59,Qualcomm: The Sky Is The Limit As 5G Approaches,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,AVGO,Computer Hardware,CON31167138,GOOG,G...",SeekingAlpha,(Author; the 6/17 drop in QTL/licensin...,https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-26 12:33:29,Report: New iPhone sales momentum likely to sl...,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,Computer Hardware,CON31167138,NASDAQ01,TA...",SeekingAlpha,Demand for Apple's (NASDAQ: AAPL ) iPhone...,https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-26 12:32:00,"RBC hikes Apple price target, citing strong de...",https://api.iextrading.com/1.0/stock/aapl/news...,AAPL,CNBC,No summary available.,https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-26 11:55:04,Apple iPhone XS Max cost breakdown,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,Computer Hardware,CON31167138,NASDAQ01,Co...",SeekingAlpha,TechInsights breaks down the costs of App...,https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-26 11:40:52,Downside Of Disruption - Cramer's Mad Money (9...,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,AMZN,CON102,DBX,FEYE,INTC,MSFT,MU,NASDAQ0...",SeekingAlpha,Stocks discussed on the in-depth sess...,https://api.iextrading.com/1.0/stock/aapl/arti...

In [28]:
pyEX.marketNewsDF(count=10)

,headline,image,related,source,summary,url
datetime,,,,,,
2018-09-26 23:44:45,Vanguard declares quarterly distribution on ETFs,https://api.iextrading.com/1.0/stock/market/ne...,"Cash Or Stock Dividend,Investment Opinion,MGC,...",SeekingAlpha,Vanguard Mid-Cap ETF (NYSEARCA: VO ) - $...,https://api.iextrading.com/1.0/stock/market/ar...
2018-09-26 23:42:00,Alzheimer's Foundation of America Praises Pass...,https://api.iextrading.com/1.0/stock/market/ne...,"Healthcare,Hospitals,National News",PR Newswire,"NEW YORK , Sept. 26, 2018 /PRNewswire/...",https://api.iextrading.com/1.0/stock/market/ar...
2018-09-26 23:40:00,House Rightfully Condemns Illegal Voting But R...,https://api.iextrading.com/1.0/stock/market/ne...,"Federal,National News",PR Newswire,"WASHINGTON , Sept. 26, 2018 /PRNewswir...",https://api.iextrading.com/1.0/stock/market/ar...
2018-09-26 22:44:00,Lupus Research Alliance Advocates Succeed with...,https://api.iextrading.com/1.0/stock/market/ne...,"Aerospace and Defense,Aerospace/Defense - Majo...",PR Newswire,"NEW YORK , Sept. 26, 2018 /PRNewswire/...",https://api.iextrading.com/1.0/stock/market/ar...
2018-09-26 22:12:00,AerSale Launches New Parts Manufacturing Business,https://api.iextrading.com/1.0/stock/market/ne...,"Aerospace and Defense,Aerospace/Defense - Majo...",Business Wire,"AerSale , a global supplier of mid-lif...",https://api.iextrading.com/1.0/stock/market/ar...
2018-09-26 21:49:00,"HSBC Bank USA, N.A. and Affiliates Raise Prime...",https://api.iextrading.com/1.0/stock/market/ne...,"BAN10320,BAN10320043,Banking and Finance,Banki...",Business Wire,"HSBC Bank USA, N.A. and its affiliates an...",https://api.iextrading.com/1.0/stock/market/ar...
2018-09-26 21:48:00,N.J. Hall of Fame breaks ground for home at Am...,https://api.iextrading.com/1.0/stock/market/ne...,"National News,NEWJERSY,SPORTS",PR Newswire,"EAST RUTHERFORD, N.J. , Sept. 26, 2018 ...",https://api.iextrading.com/1.0/stock/market/ar...
2018-09-26 21:44:00,Boy Scouts of America Recalls Neckerchief Slid...,https://api.iextrading.com/1.0/stock/market/ne...,"CHINA001,Consumer Goods,Consumer Affairs,Natio...",PR Newswire,"WASHINGTON , Sept. 26, 2018 /PRNewswir...",https://api.iextrading.com/1.0/stock/market/ar...
2018-09-26 20:47:00,Statement by U.S. Conference of Mayors CEO & E...,https://api.iextrading.com/1.0/stock/market/ne...,"Broadcasting - TV,Federal,National News,Teleco...",PR Newswire,"WASHINGTON , Sept. 26, 2018 /PRNewswir...",https://api.iextrading.com/1.0/stock/market/ar...
2018-09-26 20:39:00,Trump Administration Proposed Change to Immigr...,https://api.iextrading.com/1.0/stock/market/ne...,"Consumer Goods,Consumer Affairs,DISACCID,DISTR...",Business Wire,The National Hispanic Medical Association...,https://api.iextrading.com/1.0/stock/market/ar...

In [29]:
pyEX.ohlcDF(symbol)

,close.price,close.time,high,low,open.price,open.time
0,220.42,2018-09-26 20:00:00.330,223.75,219.76,221.15,1537968600073

In [30]:
pyEX.marketOhlcDF().head()

,close.price,close.time,high,low,open,open.price,open.time
symbol,,,,,,,
LEG,44.30,2018-09-26 20:03:07.164,NaN,NaN,NaN,44.64,1.537969e+12
GRUB,138.42,2018-09-26 20:02:03.924,NaN,NaN,NaN,139.42,1.537969e+12
CDNA,28.71,2018-09-26 20:00:00.374,NaN,NaN,NaN,28.36,1.537969e+12
NOMD,20.34,2018-09-26 20:02:02.937,NaN,NaN,NaN,20.36,1.537969e+12
TRGP,55.39,2018-09-26 20:02:02.568,NaN,NaN,NaN,56.03,1.537969e+12

In [31]:
pyEX.peersDF(symbol)

         peer
symbol
MSFT     MSFT
NOK       NOK
IBM       IBM
HPQ       HPQ
GOOGL   GOOGL
BB         BB
XLK       XLK

In [32]:
pyEX.yesterdayDF(symbol)

,change,changePercent,close,date,high,low,open,unadjustedVolume,volume,vwap
symbol,,,,,,,,,,
AAPL,-1.77,-0.797,220.42,2018-09-26,223.75,219.76,221,23984706,23984706,221.8912

In [33]:
pyEX.marketYesterdayDF().head()

,change,changePercent,close,date,high,low,open,unadjustedVolume,volume,vwap
symbol,,,,,,,,,,
AAOI,0.35,1.054,33.56,2018-09-25,33.79,32.669,33.3273,738124,738124,33.3031
AAWW,0.25,0.401,62.60,2018-09-25,62.80,61.900,62.4500,370289,370289,62.4402
AAN,-0.39,-0.719,53.88,2018-09-25,54.63,53.240,54.3300,599564,599564,53.8112
ABB,-0.16,-0.667,23.83,2018-09-25,23.99,23.810,23.9000,1444617,1444617,23.8919
AAP,-0.33,-0.197,167.32,2018-09-25,168.43,165.740,168.0000,691783,691783,167.1204

In [34]:
pyEX.priceDF(symbol)

    price
0  220.42

In [35]:
pyEX.quoteDF(symbol)

,avgTotalVolume,calculationPrice,change,changePercent,close,closeTime,companyName,delayedPrice,delayedPriceTime,extendedChange,...,marketCap,open,openTime,peRatio,previousClose,primaryExchange,sector,week52High,week52Low,ytdChange
symbol,,,,,,,,,,,,,,,,,,,,,
AAPL,32963104,close,-1.77,-0.00797,220.42,2018-09-26 20:00:00.330,Apple Inc.,220.42,2018-09-26 20:00:00.330,0.06,...,1064612288920,221.15,2018-09-26 13:30:00.073,21.28,222.19,Nasdaq Global Select,Technology,229.67,150.24,0.286302

In [36]:
pyEX.relevantDF(symbol)

   peers symbols
0   True    MSFT
1   True     NOK
2   True     IBM
3   True     HPQ
4   True   GOOGL
5   True      BB
6   True     XLK

In [37]:
pyEX.sectorPerformanceDF()

                                   lastUpdated  performance    type
name
Communication Services 2018-09-26 20:00:00.357      0.00391  sector
Consumer Discretionary 2018-09-26 20:00:00.344      0.00231  sector
Health Care            2018-09-26 20:00:00.370      0.00223  sector
Consumer Staples       2018-09-26 20:00:00.412      0.00111  sector
Industrials            2018-09-26 20:00:00.415     -0.00064  sector
Technology             2018-09-26 20:00:00.465     -0.00374  sector
Energy                 2018-09-26 20:00:00.396     -0.00965  sector
Utilities              2018-09-26 20:00:00.360     -0.00983  sector
Materials              2018-09-26 20:00:00.338     -0.00993  sector
Real Estate            2018-09-26 20:00:00.339     -0.01109  sector
Financials             2018-09-26 20:00:00.491     -0.01201  sector

In [38]:
pyEX.splitsDF(symbol, timeframe='5y')

           declaredDate  forFactor paymentDate     ratio recordDate  toFactor
exDate
2014-06-09   2014-04-23          1  2014-06-06  0.142857 2014-06-02         7

In [39]:
pyEX.volumeByVenueDF(symbol)

       avgMarketPercent       date  marketPercent      venueName   volume
venue
XASE           0.001319 2018-09-26       0.001036  NYSE American    24255
XCHI           0.010100 2018-09-26       0.004829            CHX   113104
XPHL           0.007102 2018-09-26       0.006063     Nasdaq PSX   141998
EDGA           0.008403 2018-09-26       0.006194      Cboe EDGA   145071
XNYS           0.006882 2018-09-26       0.006411           NYSE   150157
BATY           0.008255 2018-09-26       0.006688       Cboe BYX   156644
XCIS           0.002769 2018-09-26       0.008770  NYSE National   205410
XBOS           0.012189 2018-09-26       0.010169      Nasdaq BX   238182
IEXG           0.026263 2018-09-26       0.031382            IEX   735044
EDGX           0.049094 2018-09-26       0.047061      Cboe EDGX  1102288
BATS           0.071276 2018-09-26       0.057499       Cboe BZX  1346749
ARCX           0.091021 2018-09-26       0.087243      NYSE Arca  2043437
XNGS           0.310711 2018-09-26       0.319562         Nasdaq  7484885
TRF            0.394616 2018-09-26       0.407094   Off Exchange  9535090

# Reference Data

In [40]:
pyEX.corporateActionsDF(date=None)

,CurrentCompanyName,CurrentFinancialStatus,CurrentLULDTierIndicator,CurrentListingCenter,CurrentRoundLotSize,CurrentSecurityName,CurrentSymbolinCMSSymbology,CurrentSymbolinCQSSymbology,CurrentSymbolinINETSymbology,DailyListTimestamp,...,NewSymbolinCQSSymbology,NewSymbolinINETSymbology,NotesforEachEntry,RecordID,RecordUpdateTime,RedemptionDate,SeparationDate,SettlementDate,WhenDistributedFlag,WhenIssuedFlag
0,"Interactive Brokers Group, Inc.",0,1,Q,100,"Interactive Brokers Group, Inc. Class A Common...",IBKR,IBKR,IBKR,2018-09-26 18:00:00,...,,,"Interactive Brokers Group, Inc. (""IBKR"") is tr...",CA20180924144143228,2018-09-24 14:55:52,0,0,0,N,N

In [41]:
pyEX.dividendsDF(symbol)

,amount,declaredDate,flag,indicated,paymentDate,qualified,recordDate,type
exDate,,,,,,,,
2018-02-09,0.63,2018-02-01,,,2018-02-15,Q,2018-02-12,Dividend income

In [42]:
pyEX.nextDayExtDateDF(date=None)

Empty DataFrame
Columns: []
Index: []

In [43]:
pyEX.directoryDF(date=None)

,AdjustedPreviousOfficialClosingPrice,CompanyName,CountryofIncorporation,DailyListTimestamp,FinancialStatus,FirstDateListed,IPOFlag,InverseETPFlag,IssueDescription,IssueSubType,...,SICCode,SecurityName,Status,SymbolinCMSSymbology,SymbolinCQSSymbology,SymbolinINETSymbology,TestIssue,TransferAgent,WhenDistributedFlag,WhenIssuedFlag
0,100.0000,ZXIET Test Incorporated,USA,2018-09-26 21:00:00,0,2017-09-15,N,N,Common Stock,C,...,2345,IEX Test Common Stock ZXIET,Active,ZXIET,ZXIET,ZXIET,Y,,N,N
1,1.0000,ZIEXT Test Incorporated,USA,2018-09-26 21:00:00,0,2017-09-15,N,N,Common Stock,C,...,1234,IEX Test Common Stock ZIEXT,Active,ZIEXT,ZIEXT,ZIEXT,Y,,N,N
2,,"Interactive Brokers Group, Inc.",USA,2018-09-26 21:00:00,0,2018-10-05,N,N,Class A Common Stock,C,...,6211,"Interactive Brokers Group, Inc. Class A Common...",Pending,IBKR,IBKR,IBKR,N,"Computershare Trust Company, N.A.",N,N
3,10.0000,ZEXIT Test Incorporated,USA,2018-09-26 21:00:00,0,2018-09-18,,N,Common Stock,C,...,5678,IEX Test Common Stock ZEXIT,Active,ZEXIT,ZEXIT,ZEXIT,Y,"Computershare Trust Company, N.A.",,N

# Market Data

In [44]:
pyEX.topsDF(symbols=None).head()

,askPrice,askSize,bidPrice,bidSize,lastSalePrice,lastSaleSize,lastSaleTime,lastUpdated,marketPercent,sector,securityType,volume
symbol,,,,,,,,,,,,
KWR,0,0,0,0,198.66,120,1537991993205,2018-09-26 20:02:04.637,0.05689,materials,commonstock,3058
MHNC,0,0,0,0,0.00,0,0,2018-09-26 20:00:00.000,0.00000,n/a,misc,0
DWTR,0,0,0,0,0.00,0,0,2018-09-26 20:00:00.000,0.00000,n/a,etp,0
TACOW,0,0,0,0,0.00,0,0,2018-09-26 20:00:00.000,0.00000,n/a,warrant,0
INFU,0,0,0,0,0.00,0,0,2018-09-26 20:00:00.000,0.00000,healthcareequipmentservices,commonstock,0

In [45]:
pyEX.lastDF(symbols=None).head()

         price  size                    time
symbol
BNS     59.595   100 2018-09-26 19:59:46.200
ACET     2.430   100 2018-09-26 19:58:37.107
SPPP     8.790   293 2018-09-26 19:34:42.927
HMTV    13.475   100 2018-09-26 19:54:08.166
IDX     20.530   100 2018-09-26 19:40:15.585

In [46]:
pyEX.histDF(date=None).head()

,feed,link,protocol,size,version
date,,,,,
2016-12-12,TOPS,https://www.googleapis.com/download/storage/v1...,IEXTP1,672322139,1.5
2016-12-13,TOPS,https://www.googleapis.com/download/storage/v1...,IEXTP1,688995088,1.5
2016-12-14,TOPS,https://www.googleapis.com/download/storage/v1...,IEXTP1,875045142,1.5
2016-12-15,TOPS,https://www.googleapis.com/download/storage/v1...,IEXTP1,361647108,1.5
2016-12-16,TOPS,https://www.googleapis.com/download/storage/v1...,IEXTP1,672176197,1.5

In [47]:
pyEX.deepDF(symbol=None).head()

Empty DataFrame
Columns: []
Index: [0]

In [48]:
pyEX.topsBookDF(symbol).head()

  asks bids symbol
0   []   []   AAPL

In [49]:
pyEX.tradesDF(symbol)

,isISO,isOddLot,isOutsideRegularHours,isSinglePriceCross,isTradeThroughExempt,price,size,symbol,timestamp,tradeId
0,False,True,False,False,False,220.495,48,AAPL,2018-09-26 19:59:59.008,771078403
1,False,True,False,False,False,220.500,6,AAPL,2018-09-26 19:59:58.931,771032537
2,False,False,False,False,False,220.470,100,AAPL,2018-09-26 19:59:57.608,770700061
3,False,True,False,False,False,220.405,5,AAPL,2018-09-26 19:59:56.043,770141585
4,False,False,False,False,False,220.310,113,AAPL,2018-09-26 19:59:55.202,769822028
5,False,False,False,False,False,220.310,300,AAPL,2018-09-26 19:59:55.202,769822011
6,True,False,False,False,False,220.460,100,AAPL,2018-09-26 19:59:54.327,769461976
7,True,False,False,False,False,220.430,200,AAPL,2018-09-26 19:59:54.320,769461144
8,True,False,False,False,False,220.430,100,AAPL,2018-09-26 19:59:54.320,769461139
9,False,False,False,False,False,220.395,100,AAPL,2018-09-26 19:59:54.316,769460825
10,False,False,False,False,False,220.300,400,AAPL,2018-09-26 19:59:53.874,769359345
11,True,False,False,False,False,220.370,500,AAPL,2018-09-26 19:59:52.989,769190419
12,True,False,False,False,False,220.370,300,AAPL,2018-09-26 19:59:52.988,769190233
13,False,True,False,False,False,220.305,2,AAPL,2018-09-26 19:59:52.225,769070583
14,True,False,False,False,False,220.310,100,AAPL,2018-09-26 19:59:52.202,769066872
15,False,False,False,False,False,220.285,100,AAPL,2018-09-26 19:59:52.070,769027274
16,True,True,False,False,False,220.320,5,AAPL,2018-09-26 19:59:51.526,768932718
17,True,True,False,False,False,220.330,95,AAPL,2018-09-26 19:59:51.526,768932711
18,True,False,False,False,False,220.280,100,AAPL,2018-09-26 19:59:51.441,768922400
19,True,False,False,False,False,220.325,100,AAPL,2018-09-26 19:59:50.979,768848291

In [50]:
pyEX.systemEventDF()

  systemEvent               timestamp
0           C 2018-09-26 21:10:00.006

In [51]:
pyEX.tradingStatusDF(symbol)

  reason status symbol               timestamp
0             T   AAPL 2018-09-26 11:24:29.868

In [52]:
pyEX.opHaltStatusDF(symbol)

   isHalted symbol               timestamp
0     False   AAPL 2018-09-26 11:24:29.868

In [53]:
pyEX.ssrStatusDF(symbol)

  detail  isSSR symbol               timestamp
0         False   AAPL 2018-09-26 11:24:29.868

In [54]:
pyEX.securityEventDF(symbol)

  securityEvent symbol           timestamp
0   MarketClose   AAPL 2018-09-26 20:00:00

In [55]:
pyEX.tradeBreakDF(symbol)

Empty DataFrame
Columns: []
Index: [0]

In [56]:
pyEX.auctionDF(symbol)

Empty DataFrame
Columns: []
Index: [0]

In [57]:
pyEX.officialPriceDF(symbol)

Empty DataFrame
Columns: []
Index: [0]

# Stats Data

In [58]:
pyEX.statsDF()

,volume,symbolsTraded,routedVolume,notional,marketShare
lastUpdated,1537996507416,1537994688897,1537996507416,1537996507416,1.537997e+12
value,184609431,5876,34555016,9534668003,2.596000e-02

In [59]:
pyEX.recentDF()

            isHalfday  litVolume  marketShare  routedVolume     volume
date
2018-09-25      False   43123809      0.02474      34630897  168070628
2018-09-24      False   50760649      0.02604      33314976  184351475
2018-09-21      False   55816205      0.01869      37960835  204173663
2018-09-20      False   52985357      0.02765      37779893  193314389
2018-09-19      False   48981536      0.02725      30337529  180236223
2018-09-18      False   50692486      0.02838      33595912  183543217
2018-09-17      False   41640527      0.02392      28825712  151403510
2018-09-14      False   42572521      0.02507      32995246  158668864
2018-09-13      False   43972291      0.02507      37414534  170854520
2018-09-12      False   46640382      0.02528      32154569  181265976
2018-09-11      False   40960616      0.02615      30822109  167081911
2018-09-10      False   38486911      0.02668      27110550  152419730
2018-09-07      False   42165971      0.02627      34243128  165553626
2018-09-06      False   47156378      0.02606      38340753  175143688
2018-09-05      False   51634758      0.02534      39624479  179977524
2018-09-04      False   47838080      0.02636      31202403  174720320

In [60]:
pyEX.recordsDF()

                      volume symbolsTraded routedVolume     notional
avg30Value         167479965          5722     32695784  8.73412e+09
previousDayValue   168070628          5769     34630897  8.58116e+09
recordDate        2018-02-09    2018-02-06   2016-11-10   2018-02-06
recordValue        286354807          6381     74855222  1.72697e+10

In [61]:
pyEX.summaryDF(date=None)

,averageDailyRoutedVolume,averageDailyVolume,averageFillSize,averageMarketShare,averageOrderSize,bin10000Percent,bin10000Trades,bin1000Percent,bin100Percent,bin101Percent,...,venueXCHIFirstWaveRate,venueXCHIFirstWaveWeight,venueXCISFirstWaveRate,venueXCISFirstWaveWeight,venueXNGSFirstWaveRate,venueXNGSFirstWaveWeight,venueXNYSFirstWaveRate,venueXNYSFirstWaveWeight,venueXPHLFirstWaveRate,venueXPHLFirstWaveWeight
0,51255879.55,154349743.9,196,0.02503,638,0.00099,5156,0.02367,0.73508,0.0154,...,0.82406,0.00134,0.92786,0.00512,0.98878,0.22151,0.98639,0.20362,0.96635,0.00843

In [62]:
pyEX.dailyDF(date=None, last='')

        date  isHalfday  litVolume  marketShare  routedVolume     volume
0 2018-09-25          0   43123809      0.02474      34630897  168070628

# Markets Data

In [63]:
pyEX.marketsDF()

,lastUpdated,marketPercent,mic,tapeA,tapeB,tapeC,tapeId,venueName,volume
0,2018-09-26 21:15:06.519,0.37297,TRF,1216297068,470464219,965322857,,TRF Volume,2652084144
1,2018-09-26 21:15:05.859,0.16056,XNGS,357615908,175575421,608494233,Q,NASDAQ,1141685562
2,2018-09-26 20:45:00.045,0.12461,XNYS,829127615,29693952,27254333,N,NYSE,886075900
3,2018-09-26 21:15:04.569,0.09030,ARCX,176442716,293281890,172389902,P,NYSE Arca,642114508
4,2018-09-26 21:14:08.269,0.05953,BATS,193358710,106474144,123486945,Z,BATS BZX,423319799
5,2018-09-26 21:15:05.859,0.05054,EDGX,126893113,78163300,154318715,K,EDGX,359375128
6,2018-09-26 21:09:53.505,0.04675,BATY,174440919,75733414,82242082,Y,BATS BYX,332416415
7,2018-09-26 21:13:42.332,0.02671,XBOS,100094241,32993758,56843442,B,NASDAQ BX,189931441
8,2018-09-26 20:44:48.898,0.02596,IEXG,107845245,17488842,59275344,V,IEX,184609431
9,2018-09-26 21:14:32.517,0.01221,EDGA,37063716,25245914,24530558,J,EDGA,86840188
10,2018-09-26 20:47:40.566,0.01027,XCIS,35996332,18163482,18878743,C,NYSE National,73038557
11,2018-09-26 20:15:20.278,0.00931,XCHI,31596120,21344488,13270724,M,CHX,66211332
12,2018-09-26 20:59:30.259,0.00664,XPHL,15797388,18964795,12480261,X,NASDAQ PSX,47242444
13,2018-09-26 21:14:51.416,0.00362,XASE,5497297,17128385,3093733,A,NYSE American,25719415