In [2]:
import pyEX
symbol = 'AAPL'

In [3]:
pyEX.bookDF(symbol)

,avgTotalVolume,calculationPrice,change,changePercent,close,closeTime,companyName,delayedPrice,delayedPriceTime,extendedChange,...,openTime,peRatio,previousClose,primaryExchange,sector,symbol,type,week52High,week52Low,ytdChange
0,32970994.0,close,-2.37,-0.01077,217.66,2018-09-21 20:00:00.016,Apple Inc.,217.66,2018-09-21 20:00:00.208,0.06,...,2018-09-21 13:30:00.368,21.01,220.03,Nasdaq Global Select,Technology,AAPL,quote,229.67,149.16,0.267296

In [4]:
pyEX.chartDF(symbol, timeframe='1m').head()

,change,changeOverTime,changePercent,close,high,label,low,open,unadjustedVolume,volume,vwap
date,,,,,,,,,,,
2018-08-23,0.44,0.000000,0.205,215.49,217.05,Aug 23,214.60,214.65,18883224,18883224,215.9624
2018-08-24,0.67,0.003109,0.311,216.16,216.90,Aug 24,215.11,216.60,18476356,18476356,216.0586
2018-08-27,1.78,0.011369,0.823,217.94,218.74,Aug 27,216.33,217.15,20525117,20525117,217.7725
2018-08-28,1.76,0.019537,0.808,219.70,220.54,Aug 28,218.92,219.01,22776766,22776766,219.6874
2018-08-29,3.28,0.034758,1.493,222.98,223.49,Aug 29,219.41,220.15,27254804,27254804,221.8049

In [5]:
pyEX.chartDF(symbol, timeframe='1d').head()

                   average  changeOverTime    close     high     label  \
date       minute
2018-09-21 09:30   220.938        0.000000  221.025  221.090  09:30 AM
           09:31   220.733       -0.000928  220.340  221.100  09:31 AM
           09:32   220.236       -0.003177  220.205  220.420  09:32 AM
           09:33   220.344       -0.002689  220.410  220.550  09:33 AM
           09:34   220.531       -0.001842  220.620  220.695  09:34 AM

                      low  marketAverage  marketChangeOverTime  marketClose  \
date       minute
2018-09-21 09:30   220.71        220.999              0.000000      221.060
           09:31   220.20        220.830             -0.000765      220.400
           09:32   220.12        220.250             -0.003389      220.215
           09:33   219.98        220.229             -0.003484      220.470
           09:34   220.31        220.538             -0.002086      220.615

                   marketHigh  marketLow  marketNotional  \
date       minute
2018-09-21 09:30       221.10    220.570    3.550297e+09
           09:31       221.17    220.190    8.187162e+07
           09:32       220.46    220.120    4.116364e+07
           09:33       220.58    219.951    6.558228e+07
           09:34       220.70    220.291    3.367620e+07

                   marketNumberOfTrades  marketOpen  marketVolume  \
date       minute
2018-09-21 09:30                   2041      220.57      16064788
           09:31                   2053      221.05        370745
           09:32                   1805      220.42        186895
           09:33                   2694      220.22        297791
           09:34                   1273      220.46        152700

                      notional  numberOfTrades     open  volume
date       minute
2018-09-21 09:30   2237434.785              68  220.995   10127
           09:31   1149798.940              52  221.050    5209
           09:32   3398676.435              95  220.420   15432
           09:33   4481573.315             104  220.200   20339
           09:34   1616275.680              62  220.475    7329

In [6]:
pyEX.companyDF(symbol)

,CEO,companyName,description,exchange,industry,issueType,sector,tags,website
symbol,,,,,,,,,
AAPL,Timothy D. Cook,Apple Inc.,"Apple Inc is designs, manufactures and markets...",Nasdaq Global Select,Computer Hardware,cs,Technology,"[Technology, Consumer Electronics, Computer Ha...",http://www.apple.com

In [7]:
pyEX.collectionsDF('sector', 'Health Care').head()

,avgTotalVolume,calculationPrice,change,changePercent,close,closeTime,companyName,delayedPrice,delayedPriceTime,extendedChange,...,marketCap,open,openTime,peRatio,previousClose,primaryExchange,sector,week52High,week52Low,ytdChange
symbol,,,,,,,,,,,,,,,,,,,,,
LLY,3339723,close,0.2600,0.00245,106.3300,2018-09-21 20:02:54.364,Eli Lilly and Company,106.3300,2018-09-21 20:02:54.364,0.0000,...,114197128728,106.310,2018-09-21 13:35:17.644,21.14,106.0700,New York Stock Exchange,Healthcare,107.840,73.69000,0.283203
CYH,2031571,close,-0.1800,-0.05014,3.4100,2018-09-21 20:05:04.168,Community Health Systems Inc.,3.4100,2018-09-21 20:05:04.168,0.0000,...,396425247,3.540,2018-09-21 13:30:09.381,-3.79,3.5900,New York Stock Exchange,Healthcare,7.890,2.66000,-0.288979
LHCG,221774,close,0.4800,0.00490,98.5000,2018-09-21 20:00:00.803,LHC Group,98.5000,2018-09-21 20:00:00.803,0.0000,...,3086315275,97.870,2018-09-21 13:30:00.239,36.08,98.0200,Nasdaq Global Select,Healthcare,100.900,58.65100,0.603407
APRI,603539,close,-0.0067,-0.02301,0.2845,2018-09-21 20:00:00.715,Apricus Biosciences Inc.,0.2845,2018-09-21 20:00:00.715,-0.0045,...,6669092,0.274,2018-09-21 13:30:00.530,-0.41,0.2912,NASDAQ Capital Market,Healthcare,3.342,0.25000,-0.882168
HSGX,1343867,close,0.0059,0.00988,0.6029,2018-09-21 20:00:00.637,Histogenics Corporation,0.6029,2018-09-21 20:00:00.637,0.0021,...,17358398,0.630,2018-09-21 13:30:00.492,-0.64,0.5970,NASDAQ Capital Market,Healthcare,3.350,0.51011,-0.698864

In [8]:
pyEX.cryptoDF().head()

,askPrice,askSize,avgTotalVolume,bidPrice,bidSize,calculationPrice,change,changePercent,close,closeTime,...,marketCap,open,openTime,peRatio,previousClose,primaryExchange,sector,week52High,week52Low,ytdChange
symbol,,,,,,,,,,,,,,,,,,,,,
BTCUSDT,6688.2300,1.096392,None,6688.0000,0.669967,realtime,7.0900,0.00106,6726.109908,2018-09-23 15:38:24.143,...,None,6678.9900,2018-09-22 15:38:24.143,None,6677.0200,crypto,cryptocurrency,None,None,None
EOSUSDT,5.9329,10.080000,None,5.9233,3.370000,realtime,0.0640,0.01091,5.981850,2018-09-23 15:38:24.254,...,None,5.8654,2018-09-22 15:38:24.254,None,5.8609,crypto,cryptocurrency,None,None,None
ETHUSDT,241.6500,9.928780,None,241.4300,0.222010,realtime,3.2100,0.01346,242.288159,2018-09-23 15:38:24.217,...,None,238.4500,2018-09-22 15:38:24.217,None,238.4200,crypto,cryptocurrency,None,None,None
BNBUSDT,10.1973,1.960000,None,10.1750,6.080000,realtime,-0.0106,-0.00104,10.279355,2018-09-23 15:38:23.036,...,None,10.1856,2018-09-22 15:38:23.036,None,10.1920,crypto,cryptocurrency,None,None,None
ONTUSDT,2.0330,15276.866000,None,2.0320,3891.280000,realtime,0.0130,0.00644,2.067140,2018-09-23 15:38:24.484,...,None,2.0200,2018-09-22 15:38:24.484,None,2.0270,crypto,cryptocurrency,None,None,None

In [9]:
pyEX.delayedQuoteDF(symbol)

,delayedPrice,delayedPriceTime,delayedSize,high,low,processedTime
symbol,,,,,,
AAPL,217.66,2018-09-21 20:00:00.208,100,221.36,217.29,1537560901166

In [10]:
pyEX.dividendsDF(symbol, timeframe='ytd')

,amount,declaredDate,flag,indicated,paymentDate,qualified,recordDate,type
exDate,,,,,,,,
2018-02-09,0.63,2018-02-01,,,2018-02-15,Q,2018-02-12,Dividend income

In [11]:
pyEX.earningsDF(symbol)

,EPSSurpriseDollar,actualEPS,announceTime,consensusEPS,estimatedChangePercent,estimatedEPS,fiscalEndDate,fiscalPeriod,numberOfEstimates,symbolId,yearAgo,yearAgoChangePercent,symbol
EPSReportDate,,,,,,,,,,,,,
2018-07-31,0.17,2.34,AMC,2.17,0.299401,2.17,2018-06-30,Q3 2018,10,11,1.67,0.401198,AAPL
2018-05-01,0.04,2.73,AMC,2.69,0.280952,2.69,2018-03-31,Q2 2018,10,11,2.10,0.300000,AAPL
2018-02-01,0.07,3.89,AMC,3.82,0.136905,3.82,2017-12-31,Q1 2018,9,11,3.36,0.157738,AAPL
2017-11-02,0.20,2.07,AMC,1.87,0.119760,1.87,2017-09-30,Q4 2017,10,11,1.67,0.239521,AAPL

In [12]:
pyEX.earningsTodayDF()

Empty DataFrame
Columns: []
Index: []

In [13]:
pyEX.spreadDF(symbol).head()

,effectiveQuoted,effectiveSpread,priceImprovement,venueName,volume
venue,,,,,
XBOS,0.907927,0.017840,0.001311,Nasdaq BX,8472482
XCHI,0.531676,0.017017,0.007904,CHX,58982
XCIS,0.967942,0.016349,0.000381,NYSE National,1637699
BATY,0.861067,0.016219,0.001715,Cboe BYX,5528920
XPHL,0.870991,0.015569,0.001828,Nasdaq PSX,4537196

In [14]:
pyEX.financialsDF(symbol)

,cashChange,cashFlow,costOfRevenue,currentAssets,currentCash,currentDebt,grossProfit,netIncome,operatingExpense,operatingGainsLosses,operatingIncome,operatingRevenue,researchAndDevelopment,shareholderEquity,totalAssets,totalCash,totalDebt,totalLiabilities,totalRevenue,symbol
reportDate,,,,,,,,,,,,,,,,,,,,
2018-06-30,-13088000000,14488000000,32844000000,115761000000,31971000000,17472000000,20421000000,11519000000,7809000000,None,12612000000,53265000000,3701000000,114949000000,349197000000,70970000000,114600000000,None,53265000000,AAPL
2018-03-31,17568000000,15130000000,37715000000,130053000000,45059000000,20478000000,23422000000,13822000000,7528000000,None,15894000000,61137000000,3378000000,126878000000,367502000000,87940000000,121840000000,None,61137000000,AAPL
2017-12-31,7202000000,28293000000,54381000000,143810000000,27491000000,18478000000,33912000000,20065000000,7638000000,None,26274000000,88293000000,3407000000,140199000000,406794000000,77153000000,122400000000,None,88293000000,AAPL
2017-09-30,1718000000,15122000000,32648000000,128645000000,20289000000,18473000000,19931000000,10714000000,6811000000,None,13120000000,52579000000,2997000000,134047000000,375319000000,74181000000,115680000000,None,52579000000,AAPL

In [15]:
pyEX.ipoTodayDF()

Empty DataFrame
Columns: []
Index: []

In [16]:
pyEX.ipoUpcomingDF().head()

,address,amount,auditor,businessDescription,ceo,cik,city,companyCounsel,companyDescription,companyName,...,status,stockholderEquity,totalAssets,totalExpenses,totalLiabilities,underwriterCounsel,underwriters,url,useOfProceeds,zip
symbol,,,,,,,,,,,,,,,,,,,,,
VIOT,"WANSHENG SQUARE, RM 1302 TOWER C",114000000,Not Specified,Our Mission &#10; &#10; IoT @ Home: Redefinin...,Xiaoping Chen,0001742770,"GUANGZHOU, GUANGDONG 510220","[Skadden, Arps, Slate, Meagher & Flom LLP]",Our Mission &#10; &#10; IoT @ Home: Redefinin...,"VIOMI TECHNOLOGY CO., LTD",...,Filed,-14835000,153671000,3843836,105403000,[Cleary Gottlieb Steen & Hamilton LLP],"[Needham & Company, LLC]",www.viomi.com.cn,We estimate that we will receive net proceeds ...,
ARCE,RUA ELVIRA FERRAZ 250,183333332,Not Specified,Our mission is to transform the way students l...,Ari de Sá Cavalcante Neto,0001740594,SAO PAULO - SP 04552-040,[Davis Polk & Wardwell LLP],Our mission is to transform the way students l...,ARCO PLATFORM LTD.,...,Filed,73171000,103380000,4246881,30253000,[White and Case LLP],"[Allen & Company LLC, BTG Pactual US Capital L...",www.arcoeducacao.com.br,We estimate that the net proceeds from our iss...,
SVMK,ONE CURIOSITY WAY,135000000,"Computershare Trust Company, N.A",We are a leading global provider of survey sof...,Alexander J. Lurie,0001739936,SAN MATEO,"[Wilson Sonsini Goodrich & Rosati, P.C.]",We are a leading global provider of survey sof...,SVMK INC.,...,Filed,27609000,578828000,8000000,551219000,[Latham & Watkins LLP],"[Code Advisors LLC, Credit Suisse Securities (...",www.surveymonkey.com,We estimate that the net proceeds to us from t...,94403
CBNK,One Church Street,30087936,"American Stock Transfer & Trust Company, LLC","We are Capital Bancorp, Inc., a bank holding c...",Edward F. Barry,0001419536,Rockville,[Holland and Knight LLP],"We are Capital Bancorp, Inc., a bank holding c...",CAPITAL BANCORP INC,...,Filed,86994094,1067786156,1250000,980792062,[Covington & Burling LLP],"[Hovde Group, LLC, Sandler O’Neill & Partners,...",www.capitalbankmd.com,Assuming an initial public offering price of $...,20850
ETTX,35 GATEHOUSE DRIVE,75000005,"Computershare Trust Company, N.A",We are a clinical-stage biopharmaceutical comp...,Manoussos Perros,0001724344,WALTHAM,[Cooley LLP],We are a clinical-stage biopharmaceutical comp...,ENTASIS THERAPEUTICS HOLDINGS INC.,...,Filed,-71717000,41503000,3500000,8507000,[Wilmer Cutler Pickering Hale and Dorr LLP],"[SunTrust Robinson Humphrey, Inc, Wedbush Secu...",www.entasistx.com,We estimate that the net proceeds from our iss...,02451

In [17]:
pyEX.thresholdDF(date=None)

Empty DataFrame
Columns: []
Index: []

In [18]:
pyEX.shortInterestDF(symbol, date=None)

Empty DataFrame
Columns: []
Index: []

In [19]:
pyEX.marketShortInterestDF(date=None)

Empty DataFrame
Columns: []
Index: []

In [20]:
pyEX.stockStatsDF(symbol)

,EBITDA,EPSSurpriseDollar,EPSSurprisePercent,beta,cash,companyName,consensusEPS,day200MovingAvg,day30ChangePercent,day50MovingAvg,...,shortInterest,shortRatio,ttmEPS,week52change,week52high,week52low,year1ChangePercent,year2ChangePercent,year5ChangePercent,ytdChangePercent
symbol,,,,,,,,,,,,,,,,,,,,,
AAPL,47576000000,None,1.487,1.350038,151334000000,Apple Inc.,2.69,184.13023,0.048812,209.81448,...,47549672,1.54,10.36,44.0453,229.67,149.16,0.467626,0.994932,2.391521,0.278066

In [21]:
pyEX.largestTradesDF(symbol).head()

Empty DataFrame
Columns: []
Index: []

In [22]:
pyEX.listDF(option='mostactive')

Empty DataFrame
Columns: []
Index: []

In [23]:
pyEX.logoNotebook(symbol)

In [24]:
pyEX.newsDF(symbol, count=10)

,headline,image,related,source,summary,url
datetime,,,,,,
2018-09-22 17:56:09,Amazon And Apple At A Trillion Dollar: A Follo...,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,AMZN,CON102,NASDAQ01,RET10217,SPECRTIL,WO...",SeekingAlpha,"In my last post , I looked at Apple (AAPL)...",https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-22 15:08:00,How former Facebook and Google engineer Bret T...,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,BOX,CRM,FB,GOOGL,MSFT,TWTR,YELP",CNBC,No summary available.,https://api.iextrading.com/1.0/stock/aapl/arti...

In [25]:
pyEX.marketNewsDF(count=10)

,headline,image,related,source,summary,url
datetime,,,,,,
2018-09-23 07:00:08,On This Day: Hurricane Rita evacuees die in bu...,https://api.iextrading.com/1.0/stock/market/ne...,"ARGENTIN,CALIFORN,ENGLAND1,Europe,FINLAND1,HEL...",UPI,Sept. 23 (UPI) -- On this date in history...,https://api.iextrading.com/1.0/stock/market/ar...
2018-09-23 07:00:07,The Almanac,https://api.iextrading.com/1.0/stock/market/ne...,"ARGENTIN,CALIFORN,ENGLAND1,Entertainment,Europ...",UPI,"Today is Sunday Sept. 23, the 266th day o...",https://api.iextrading.com/1.0/stock/market/ar...
2018-09-23 06:00:00,Give Your Skin the Love and Attention It Deser...,https://api.iextrading.com/1.0/stock/market/ne...,"Consumer Goods,Consumer Affairs,Pharmaceutical...",PR Newswire,New-generation nutraceutical protects a...,https://api.iextrading.com/1.0/stock/market/ar...
2018-09-23 01:22:14,"DHS rule would deny visas, green cards to immi...",https://api.iextrading.com/1.0/stock/market/ne...,"Broadcasting - TV,Federal,HOMELAND,LEGALLAW,Na...",UPI,Sept. 22 (UPI) -- The Trump administratio...,https://api.iextrading.com/1.0/stock/market/ar...

In [26]:
pyEX.ohlcDF(symbol)

,close.price,close.time,high,low,open.price,open.time
0,217.66,2018-09-21 20:00:00.016,221.36,217.29,221,1537536600368

In [27]:
pyEX.marketOhlcDF().head()

       close  high   low  open
symbol
AMOV    None  None  None  None
CBB-B   None  None  None  None
CCM     None  None  None  None
CMS-B   None  None  None  None
GBAB    None  None  None  None

In [28]:
pyEX.peersDF(symbol)

       symbol
symbol
MSFT     MSFT
NOK       NOK
IBM       IBM
HPQ       HPQ
GOOGL   GOOGL
BB         BB
XLK       XLK

In [29]:
pyEX.yesterdayDF(symbol)

,change,changePercent,close,date,high,low,open,unadjustedVolume,volume,vwap
symbol,,,,,,,,,,
AAPL,-2.37,-1.077,217.66,2018-09-21,221.36,217.29,220.78,96246748,96246748,218.4944

In [30]:
pyEX.marketYesterdayDF().head()

,change,changePercent,close,date,high,low,open,unadjustedVolume,volume,vwap
symbol,,,,,,,,,,
AAWW,-1.20,-1.859,63.35,2018-09-21,64.85,63.3000,64.75,373273,373273,63.8534
AAV,0.00,0.000,2.50,2018-09-21,2.55,2.4500,2.50,64411,64411,2.5118
AAXJ,0.32,0.451,71.27,2018-09-21,71.42,71.1000,71.20,1137312,1137312,71.2675
AA,0.86,2.003,43.79,2018-09-21,44.00,42.9200,43.36,4939859,4939859,43.6804
AAOI,-0.15,-0.456,32.72,2018-09-21,33.09,32.4971,32.85,841285,841285,32.7602

In [31]:
pyEX.priceDF(symbol)

    price
0  217.66

In [32]:
pyEX.quoteDF(symbol)

,avgTotalVolume,calculationPrice,change,changePercent,close,closeTime,companyName,delayedPrice,delayedPriceTime,extendedChange,...,marketCap,open,openTime,peRatio,previousClose,primaryExchange,sector,week52High,week52Low,ytdChange
symbol,,,,,,,,,,,,,,,,,,,,,
AAPL,32970994,close,-2.37,-0.01077,217.66,2018-09-21 20:00:00.016,Apple Inc.,217.66,2018-09-21 20:00:00.208,0.06,...,1051281693160,221,2018-09-21 13:30:00.368,21.01,220.03,Nasdaq Global Select,Technology,229.67,149.16,0.267296

In [33]:
pyEX.relevantDF(symbol)

   peers symbols
0   True    MSFT
1   True     NOK
2   True     IBM
3   True     HPQ
4   True   GOOGL
5   True      BB
6   True     XLK

In [34]:
pyEX.sectorPerformanceDF()

                                   lastUpdated  performance    type
name
Energy                 2018-09-21 20:00:00.405      0.00661  sector
Industrials            2018-09-21 20:00:00.377      0.00646  sector
Utilities              2018-09-21 20:00:00.386      0.00426  sector
Consumer Staples       2018-09-21 20:00:00.405      0.00161  sector
Health Care            2018-09-21 20:00:00.382      0.00135  sector
Real Estate            2018-09-21 20:00:00.338      0.00000  sector
Materials              2018-09-21 20:00:00.358     -0.00216  sector
Financials             2018-09-21 20:00:00.486     -0.00390  sector
Technology             2018-09-21 20:00:00.457     -0.00395  sector
Consumer Discretionary 2018-09-21 20:00:00.363     -0.00442  sector
Communication Services 2018-09-21 20:00:00.332     -0.00448  sector

In [35]:
pyEX.splitsDF(symbol, timeframe='5y')

           declaredDate  forFactor paymentDate     ratio recordDate  toFactor
exDate
2014-06-09   2014-04-23          1  2014-06-06  0.142857 2014-06-02         7

In [36]:
pyEX.volumeByVenueDF(symbol)

       avgMarketPercent date  marketPercent      venueName  volume
venue
XASE           0.001302  NaT              0  NYSE American       0
XCIS           0.002669  NaT              0  NYSE National       0
XPHL           0.007412  NaT              0     Nasdaq PSX       0
XNYS           0.007463  NaT              0           NYSE       0
BATY           0.008453  NaT              0       Cboe BYX       0
EDGA           0.008651  NaT              0      Cboe EDGA       0
XCHI           0.011142  NaT              0            CHX       0
XBOS           0.012764  NaT              0      Nasdaq BX       0
IEXG           0.025582  NaT              0            IEX       0
EDGX           0.053745  NaT              0      Cboe EDGX       0
BATS           0.080959  NaT              0       Cboe BZX       0
ARCX           0.098964  NaT              0      NYSE Arca       0
XNGS           0.278684  NaT              0         Nasdaq       0
TRF            0.402209  NaT              0   Off Exchange       0

In [37]:
pyEX.symbolsDF()

,date,iexId,isEnabled,name,type
symbol,,,,,
A,2018-09-21,2,True,Agilent Technologies Inc.,cs
AA,2018-09-21,12042,True,Alcoa Corporation,cs
AAAU,2018-09-21,14924,True,Perth Mint Physical Gold,N/A
AABA,2018-09-21,7653,True,Altaba Inc.,cs
AAC,2018-09-21,9169,True,AAC Holdings Inc.,cs
AADR,2018-09-21,5,True,AdvisorShares Dorsey Wright ADR,et
AAL,2018-09-21,8148,True,American Airlines Group Inc.,cs
AAMC,2018-09-21,7760,True,Altisource Asset Management Corp Com,cs
AAME,2018-09-21,7,True,Atlantic American Corporation,cs
AAN,2018-09-21,8,True,Aaron's Inc.,cs
AAOI,2018-09-21,7790,True,Applied Optoelectronics Inc.,cs
AAON,2018-09-21,9,True,AAON Inc.,cs
AAP,2018-09-21,10,True,Advance Auto Parts Inc W/I,cs
AAPL,2018-09-21,11,True,Apple Inc.,cs
AAT,2018-09-21,12,True,American Assets Trust Inc.,cs
AAU,2018-09-21,13,True,Almaden Minerals Ltd.,cs
AAV,2018-09-21,14,True,Advantage Oil & Gas Ltd,cs
AAWW,2018-09-21,15,True,Atlas Air Worldwide Holdings,cs
AAXJ,2018-09-21,16,True,iShares MSCI All Country Asia ex Japan Index Fund,et
AAXN,2018-09-21,6667,True,Axon Enterprise Inc.,cs
AB,2018-09-21,17,True,AllianceBernstein Holding L.P. Units,cs
ABAC,2018-09-21,5129,True,Renmin Tianli Group Inc.,cs
ABB,2018-09-21,19,True,ABB Ltd,cs
ABBV,2018-09-21,20,True,AbbVie Inc.,cs
ABC,2018-09-21,21,True,AmerisourceBergen Corporation,cs
ABCB,2018-09-21,22,True,Ameris Bancorp,cs
ABCD,2018-09-21,23,True,Cambium Learning Group Inc.,cs
ABDC,2018-09-21,8607,True,Alcentra Capital Corp.,cs
ABEO,2018-09-21,9600,True,Abeona Therapeutics Inc.,cs
ABEOW,2018-09-21,9607,True,,N/A
...,...,...,...,...,...
ZTR,2018-09-21,7707,True,Virtus Global Dividend & Income Fund Inc.,cs
ZTS,2018-09-21,7708,True,Zoetis Inc. Class A,cs
ZUMZ,2018-09-21,7709,True,Zumiez Inc.,cs
ZUO,2018-09-21,14265,True,Zuora Inc. Class A,cs
ZVV,2018-09-21,7907,True,,N/A
ZVVV,2018-09-21,7908,True,,N/A
ZVZZT,2018-09-21,7909,True,NASDAQ TEST STOCK,N/A
ZWZZT,2018-09-21,7910,True,NASDAQ TEST STOCK,N/A
ZXIET,2018-09-21,13391,True,ZXIET Test Company,N/A
ZXZZT,2018-09-21,7911,True,NASDAQ TEST STOCK,N/A
ZYME,2018-09-21,12759,True,Zymeworks Inc.,cs
ZYNE,2018-09-21,10257,True,Zynerba Pharmaceuticals Inc.,cs
BTCUSDT,2018-09-21,10000000,True,Bitcoin USD,crypto
EOSUSDT,2018-09-21,10000001,True,EOS USD,crypto
ETHUSDT,2018-09-21,10000002,True,Ethereum USD,crypto
BNBUSDT,2018-09-21,10000003,True,Binance Coin USD,crypto
ONTUSDT,2018-09-21,10000004,True,Ontology USD,crypto
BCCUSDT,2018-09-21,10000005,True,Bitcoin Cash USD,crypto
ADAUSDT,2018-09-21,10000006,True,Cardano USD,crypto
XRPUSDT,2018-09-21,10000007,True,Ripple USD,crypto
TUSDUSDT,2018-09-21,10000008,True,TrueUSD,crypto
TRXUSDT,2018-09-21,10000009,True,TRON USD,crypto
LTCUSDT,2018-09-21,10000010,True,Litecoin USD,crypto
ETCUSDT,2018-09-21,10000011,True,Ethereum Classic USD,crypto
IOTAUSDT,2018-09-21,10000012,True,MIOTA USD,crypto
ICXUSDT,2018-09-21,10000013,True,ICON USD,crypto
NEOUSDT,2018-09-21,10000014,True,NEO USD,crypto
VENUSDT,2018-09-21,10000015,True,VeChain USD,crypto
XLMUSDT,2018-09-21,10000016,True,Stellar Lumens USD,crypto
QTUMUSDT,2018-09-21,10000017,True,Qtum USD,crypto

In [38]:
pyEX.corporateActionsDF(date=None)

,CurrentCompanyName,CurrentFinancialStatus,CurrentLULDTierIndicator,CurrentListingCenter,CurrentRoundLotSize,CurrentSecurityName,CurrentSymbolinCMSSymbology,CurrentSymbolinCQSSymbology,CurrentSymbolinINETSymbology,DailyListTimestamp,...,NewSymbolinCQSSymbology,NewSymbolinINETSymbology,NotesforEachEntry,RecordID,RecordUpdateTime,RedemptionDate,SeparationDate,SettlementDate,WhenDistributedFlag,WhenIssuedFlag
0,ZIEXT Test Company,0,2,,100,ZIEXT Common Stock,ZIEXT,ZIEXT,ZIEXT,2018-09-23 11:00:00,...,,,ZIEXT Test Company is changing its name to ZIE...,CA20180921130304483,2018-09-21 13:53:18,0,0,0,N,N
1,ZXIET Test Company,0,1,V,100,ZXIET Common Stock,ZXIET,ZXIET,ZXIET,2018-09-23 11:00:00,...,,,ZXIET Test Company is changing its name to ZXI...,CA20180921125550003,2018-09-21 13:53:31,0,0,0,N,N

In [39]:
pyEX.dividendsDF(symbol)

,amount,declaredDate,flag,indicated,paymentDate,qualified,recordDate,type
exDate,,,,,,,,
2018-02-09,0.63,2018-02-01,,,2018-02-15,Q,2018-02-12,Dividend income

In [40]:
pyEX.nextDayExtDateDF(date=None)

Empty DataFrame
Columns: []
Index: []

In [41]:
pyEX.directoryDF(date=None)

,AdjustedPreviousOfficialClosingPrice,CompanyName,CountryofIncorporation,DailyListTimestamp,FinancialStatus,FirstDateListed,IPOFlag,InverseETPFlag,IssueDescription,IssueSubType,...,SICCode,SecurityName,Status,SymbolinCMSSymbology,SymbolinCQSSymbology,SymbolinINETSymbology,TestIssue,TransferAgent,WhenDistributedFlag,WhenIssuedFlag
0,100.0000,ZXIET Test Company,USA,2018-09-23 11:00:00,0,2017-09-15,N,N,Common Stock,C,...,2345,IEX Test Common Stock ZXIET,Active,ZXIET,ZXIET,ZXIET,Y,,N,N
1,2.0000,ZIEXT Test Company,USA,2018-09-23 11:00:00,0,2017-09-15,N,N,Common Stock,C,...,1234,IEX Test Common Stock ZIEXT,Active,ZIEXT,ZIEXT,ZIEXT,Y,,N,N
2,10.0000,ZEXIT Test Incorporated,USA,2018-09-23 11:00:00,0,2018-09-18,,N,Common Stock,C,...,5678,IEX Test Common Stock ZEXIT,Active,ZEXIT,ZEXIT,ZEXIT,Y,"Computershare Trust Company, N.A.",,N

In [42]:
pyEX.topsDF(symbols=None).head()

Empty DataFrame
Columns: []
Index: []

In [43]:
pyEX.lastDF(symbols=None).head()

        price  size                    time
symbol
BNS     60.40    50 2018-09-21 19:59:33.020
ACET     3.02   107 2018-09-21 19:57:28.323
SPPP     8.71   100 2018-09-21 15:22:00.895
HMTV    13.75   100 2018-09-21 19:51:39.578
IDX     21.06    41 2018-09-21 19:55:01.102

In [44]:
pyEX.histDF(date=None).head()

,feed,link,protocol,size,version
date,,,,,
2016-12-12,TOPS,https://www.googleapis.com/download/storage/v1...,IEXTP1,672322139,1.5
2016-12-13,TOPS,https://www.googleapis.com/download/storage/v1...,IEXTP1,688995088,1.5
2016-12-14,TOPS,https://www.googleapis.com/download/storage/v1...,IEXTP1,875045142,1.5
2016-12-15,TOPS,https://www.googleapis.com/download/storage/v1...,IEXTP1,361647108,1.5
2016-12-16,TOPS,https://www.googleapis.com/download/storage/v1...,IEXTP1,672176197,1.5

In [45]:
pyEX.deepDF(symbol=None).head()

Empty DataFrame
Columns: []
Index: [0]

In [46]:
pyEX.topsBookDF(symbol).head()

Empty DataFrame
Columns: []
Index: []

In [47]:
pyEX.tradesDF(symbol)

Empty DataFrame
Columns: []
Index: []

In [48]:
pyEX.systemEventDF()

Empty DataFrame
Columns: []
Index: [0]

In [49]:
pyEX.tradingStatusDF(symbol)

Empty DataFrame
Columns: []
Index: []

In [50]:
pyEX.opHaltStatusDF(symbol)

Empty DataFrame
Columns: []
Index: []

In [51]:
pyEX.ssrStatusDF(symbol)

Empty DataFrame
Columns: []
Index: []

In [52]:
pyEX.securityEventDF(symbol)

Empty DataFrame
Columns: []
Index: []

In [53]:
pyEX.tradeBreakDF(symbol)

Empty DataFrame
Columns: []
Index: [0]

In [54]:
pyEX.auctionDF(symbol)

Empty DataFrame
Columns: []
Index: [0]

In [55]:
pyEX.officialPriceDF(symbol)

Empty DataFrame
Columns: []
Index: [0]

In [56]:
pyEX.statsDF()

,volume,symbolsTraded,routedVolume,notional,marketShare
lastUpdated,1537564517639,1537563572875,1537564517639,1537564517639,1.537565e+12
value,204173663,5830,37960835,10331464780,1.875000e-02

In [60]:
pyEX.recentDF()

            isHalfday  litVolume  marketShare  routedVolume     volume
date
2018-09-20      False   52985357      0.02765      37779893  193314389
2018-09-19      False   48981536      0.02725      30337529  180236223
2018-09-18      False   50692486      0.02838      33595912  183543217
2018-09-17      False   41640527      0.02392      28825712  151403510
2018-09-14      False   42572521      0.02507      32995246  158668864
2018-09-13      False   43972291      0.02507      37414534  170854520
2018-09-12      False   46640382      0.02528      32154569  181265976
2018-09-11      False   40960616      0.02615      30822109  167081911
2018-09-10      False   38486911      0.02668      27110550  152419730
2018-09-07      False   42165971      0.02627      34243128  165553626
2018-09-06      False   47156378      0.02606      38340753  175143688
2018-09-05      False   51634758      0.02534      39624479  179977524
2018-09-04      False   47838080      0.02636      31202403  174720320

In [61]:
pyEX.recordsDF()

                       volume symbolsTraded routedVolume     notional
avg30Value        1.59721e+08          5675     31143369  8.38054e+09
previousDayValue    193314389          5843     37779893  9.81861e+09
recordDate         2018-02-09    2018-02-06   2016-11-10   2018-02-06
recordValue         286354807          6381     74855222  1.72697e+10

In [62]:
pyEX.summaryDF(date=None)

,averageDailyRoutedVolume,averageDailyVolume,averageFillSize,averageMarketShare,averageOrderSize,bin10000Percent,bin10000Trades,bin1000Percent,bin100Percent,bin101Percent,...,venueXCHIFirstWaveRate,venueXCHIFirstWaveWeight,venueXCISFirstWaveRate,venueXCISFirstWaveWeight,venueXNGSFirstWaveRate,venueXNGSFirstWaveWeight,venueXNYSFirstWaveRate,venueXNYSFirstWaveWeight,venueXPHLFirstWaveRate,venueXPHLFirstWaveWeight
0,51255879.55,154349743.9,196,0.02503,638,0.00099,5156,0.02367,0.73508,0.0154,...,0.82406,0.00134,0.92786,0.00512,0.98878,0.22151,0.98639,0.20362,0.96635,0.00843

In [63]:
pyEX.dailyDF(date=None, last='')

        date  isHalfday  litVolume  marketShare  routedVolume     volume
0 2018-09-20          0   52985357      0.02765      37779893  193314389

In [64]:
pyEX.marketsDF()

,lastUpdated,marketPercent,mic,tapeA,tapeB,tapeC,tapeId,venueName,volume
0,2018-09-21 21:15:16.837,0.31000,TRF,1542170640,563488723,1270352470,,TRF Volume,3376011833
1,2018-09-21 20:45:00.043,0.24960,XNYS,2660310528,27442112,30473688,N,NYSE,2718226328
2,2018-09-21 21:15:13.895,0.19998,XNGS,361605467,166079429,1650196148,Q,NASDAQ,2177881044
3,2018-09-21 21:15:15.339,0.06013,ARCX,185057631,289587309,180230368,P,NYSE Arca,654875308
4,2018-09-21 21:15:10.733,0.04186,BATS,215366817,104401565,136064936,Z,BATS BZX,455833318
5,2018-09-21 21:15:17.374,0.03379,EDGX,138705375,84112812,145144870,K,EDGX,367963057
6,2018-09-21 21:09:44.109,0.03344,BATY,182909256,85233497,95995641,Y,BATS BYX,364138394
7,2018-09-21 21:14:47.502,0.01892,XBOS,107492202,34556469,64023814,B,NASDAQ BX,206072485
8,2018-09-21 20:59:32.875,0.01875,IEXG,115924288,21319472,66929903,V,IEX,204173663
9,2018-09-21 21:15:11.226,0.00843,XASE,6687557,80402287,4694377,A,NYSE American,91784221
10,2018-09-21 21:14:36.133,0.00842,EDGA,40614052,25465730,25584392,J,EDGA,91664174
11,2018-09-21 21:14:49.203,0.00691,XCIS,37207138,19878785,18196378,C,NYSE National,75282301
12,2018-09-21 20:31:18.024,0.00535,XCHI,26655580,18922072,12654110,M,CHX,58231762
13,2018-09-21 20:59:00.646,0.00443,XPHL,17079196,16864796,14289809,X,NASDAQ PSX,48233801